jQuery(document).ready(function() {
	AdminInterface.content.find('table.service_category_list').prepareWidget(function(service_category_list) {
		
		// Add info_bar elements
		AdminInterface.info_bar.prepareWidget(function(info_bar) {
			info_bar.add_button('add-new-item', function() {
				Widget.create('service_detail', function(widget) {
					widget.open();
					widget.save_callback = function() {
						service_category_list.reload();
					};
				});
			}, 'n', true).add_search_input("{{writeString=wns.search.enter_search}}", function(search) {
				if(service_category_list.setSearch(search)) {
					service_category_list.reload();
				}
			}).add_row_count_info_for_list(service_category_list);
		});
	});
});