<form class="accordion">
	<h3><a href="#">{{writeString=wns.event.accordion_title.general_info}}</a></h3>
	<div class="general_info">
		<div class="status_section">
			<div class="select_container">
				<label for="event_type_id">{{writeString=wns.event.event_type}}</label>
				<select name="event_type_id" class="ui-widget-content" data-widget-type="event_types_input"></select>
				<div class="school_class_elements">
					<label for="school_class_id">{{writeString=wns.class.school_class}}</label>
					<select name="school_class_id" class="ui-widget-content" data-widget-type="classes_input">{{school_class_options}}</select>
				</div>
			</div>
			<div style="padding: .3em 0;">
				<input type="checkbox" style="display:inline;" name="is_active" />
				<label for="is_active">{{writeString=wns.is_online}}</label>
				<input type="checkbox" style="display:inline;" name="ignore_on_frontpage" />
				<label for="ignore_on_frontpage" class="help" title="{{writeString=wns.event.ignore_on_frontpage_help}}">{{writeString=wns.event.ignore_on_frontpage}}</label><br />
			</div>
			<div class="hide_if_not_saved">
	  		<label>{{writeString=wns.created_info}}:</label><span class="created_info status"></span><br />
	  		<label>{{writeString=wns.updated.info}}:</label><span class="updated_info status"></span><br />
				<label>ID:</label><span class="detail_id"></span>
			</div>
		</div>
		<div class="main_content">
			<label for="title" class="validate-title_required validate-same_identity_not_permitted">{{writeString=wns.event.title}}*</label>
			<input type="text" name="title" size="30" class="ui-widget-content event"/><br />
			<label for="teaser" class="validate-is_active_teaser_required">{{writeString=wns.event.teaser}}*</label>
			<textarea name="teaser" class="ui-widget-content event" rows="3" cols="40"></textarea><br />
			<div>
				<div class="group_fields">
					<label for="date_start" class="validate-date_start_required">{{writeString=wns.event.date_start}}*</label>
					<input type="text" name="date_start" size="10" class="ui-widget-content autowidth"/><br />
				</div>
				<div class="group_fields">
					<label for="date_end">{{writeString=wns.event.date_end}}</label>
					<input type="text" name="date_end" size="10" class="ui-widget-content autowidth"/><br />
				</div>
				<div class="group_fields">
					<label for="time_details">{{writeString=wns.event.time_details}}</label>
					<input type="text" name="time_details" size="10" class="ui-widget-content time_details"/><br />
				</div><br />
			</div>
			<div>
				<label for="location_info">{{writeString=wns.event.location_info}}</label>
				<input type="text" name="location_info" class="ui-widget-content event"/><br />
			</div>
		</div>
		<label class="help" title="{{writeString=wns.event.body_preview_label_help}}">{{writeString=wns.event.body_preview_label}}</label>
		<div class="event_preview" data-widget-type="rich_text">
			<textarea name="body_preview" class="ui-widget-content" rows="10" cols="50"></textarea>
		</div>
	</div>
	<h3><a href="#">{{writeString=wns.event.accordion_title.report}}</a></h3>
	<div class="general_info reset_padding">
		<label class="help" title="{{writeString=wns.event.body_review_label_help}}">{{writeString=wns.event.body_review_label}}</label>
		<div class="event_review" data-widget-type="rich_text">
			<textarea name="body_review" class="ui-widget-content" rows="10" cols="50"></textarea>
		</div>
	</div>
	<h3><a href="#">{{writeString=wns.event.accordion_title.documents}}</a></h3>
	<div class="droppable_area ui-state-droppable reset_padding">
	</div>
</form>