input.ui-widget-content.event,
textarea.ui-widget-content.event {
	width: 35em;
}

.ui-dialog.detail-widget-event_detail h3 {
	border-bottom: #C1C2C4 1px solid;
}

.select_container {
	padding: .3em 0;
}

.select_container label {
	display:inline-block;
	width: 65px;
}

.ui-dialog.detail-widget-event_detail .droppable_area {
	padding-left: 1em !important;
	min-height: 250px;
}

.detail-widget-event_detail .ui-image-picker-image.ui-widget-content {
	margin: .3em;
}

div.no_images_placeholder {
	padding:5em;
	font-size:1.1em;
}