input.ui-widget-content.event,
textarea.ui-widget-content.event {
	width: 35em;
}

.ui-dialog.detail-widget-event_detail h3 {
	border-bottom: #C1C2C4 1px solid;
}

.group_fields.school_class_elements {
	padding-left: 1em;
}

input.ui-widget-content.time_details {
	width: 100px;
}

input.ui-widget-content.location_info {
	width: 250px;
}

.ui-dialog.detail-widget-event_detail .droppable_area {
	padding-left: 1em !important;
	min-height: 7em;
}

.detail-widget-event_detail .ui-image-picker-image.ui-widget-content {
	margin: .3em;
}

div.no_images_placeholder {
	padding:5em;
	font-size:1.1em;
}