input.ui-widget-content.event {
	width: 35em;
}

textarea.ui-widget-content.event {
	width: 35em;
}

.event_text {
	margin-top: 1em;
}

.ui-dialog.detail-widget-event_detail .ui-state-active {
	background-color: #ebedef;
}

.ui-dialog.detail-widget-event_detail .ui-dialog-content .ui-state-active, .ui-widget-content .ui-state-active,
.ui-dialog.detail-widget-event_detail .ui-dialog-content.ui-widget-content .ui-state-default  {
	background:url("") repeat scroll 0 0 #ebedef;
}

.ui-dialog.detail-widget-event_detail h3 {
	border-bottom: #C1C2C4 1px solid;
}

.select_container {
	padding: .3em 0;
}

.select_container label {
	display:inline-block;
	width: 65px;
}

.ui-dialog.detail-widget-event_detail .droppable_area {
	padding-left: 1em !important;
	min-height: 250px
}
.ui-dialog.detail-widget .ui-accordion .ui-accordion-content.droppable_area {
	background-color: #f6f6f6;
}

.detail-widget-event_detail .ui-image-picker-image.ui-widget-content {
	margin: .3em;
}

div.no_images_placeholder {
	padding:5em;
	font-size:1.1em;
}