<form>
	<div class="status_section">
		<label for="note_type_id">{{writeString=wns.note.type}}</label>
		<select name="note_type_id" class="ui-widget-content" data-widget-type="note_type_input"></select><br />
		<div>
			<div class="group_fields">
				<label for="date_start">{{writeString=wns.event.date_start}}*</label>
				<input type="text" name="date_start" size="10" class="ui-widget-content autowidth"/><br />
			</div>
			<div class="group_fields">
				<label for="date_end">{{writeString=wns.event.date_end}}</label>
				<input type="text" name="date_end" size="10" class="ui-widget-content autowidth"/><br />
			</div>
		</div>
		<div class="hide_if_not_saved">
  		<label>{{writeString=wns.created_info}}:</label><span class="created_info status"></span><br />
  		<label>{{writeString=wns.updated.info}}:</label><span class="updated_info status"></span><br />
		</div>
	</div>
	<label for="body" class="validate-body_required">{{writeString=wns.note.body}}*</label>
	<div class="note_body" data-widget-type="rich_text">
		<textarea name="body" class="ui-widget-content" rows="10" cols="40"></textarea>
	</div>
</form>


