<div class="detail_info">
  <h2 style="margin-bottom:0;">{{unit_name}}</h2>
	{{identifierContext=start;name=stundenplan}}<p style="padding:2px 1px;">{{stundenplan}} {{writeString=wns.class.schedule}}</p>{{identifierContext=end;name=stundenplan}}
	{{identifierContext=start;name=weekplan}}<p style="padding:2px 1px;">{{weekplan}} {{writeString=wns.class.schedule_week}}</p>{{identifierContext=end;name=weekplan}}
	{{identifierContext=start;name=room_number}}<p style="padding:2px 1px;">{{writeString=wns.class.room_number}}{{room_number}}</p>{{identifierContext=end;name=room_number}}
	{{event_section}}
	{{link_section}}
</div>
