<div>{{identifierContext=start;name=portrait_display_url}}
	<img class="class_portrait" src="{{portrait_display_url}}" alt="{{portrait_alt}}" /><br style="clear:both;"/>{{identifierContext=end;name=portrait_display_url}}
	<h1>{{full_unit_name}}</h1>
	<div class="class_info">
  	<label>{{count_students}} SchülerInnen</label><span style="display:block;margin-bottom:1em;">{{students_names}}</span>{{identifierContext=start;name=label_class_teacher}}
 		<label>{{label_class_teacher}}</label>
		<ul class="class_teachers">
			{{class_teachers}}
		</ul>
	</div>
</div>
