<div><a href="{{list_link}}" class="close_detail" title="{{writeString=wns.back_to_list}}"> </a>
	<img class="class_portrait" src="{{portrait_display_url}}" alt="{{portrait_alt}}" /><br style="clear:both;"/>
	
	<div class="class_info">
  	<label>{{students_count}} SchülerInnen</label><span style="display:block;margin-bottom:1em;">{{students_names}}</span>{{identifierContext=start;name=label_class_teacher}}
 		<label>{{label_class_teacher}}</label>
		<span>{{name_class_teacher}}</span>{{identifierContext=end;name=label_class_teacher}}{{identifierContext=start;name=label_other_teacher}}
		<label>{{label_other_teacher}}</label>{{name_other_teacher}}{{identifierContext=end;name=label_other_teacher}}
	</div>
</div>
<div>

</div>
