<div class="class_info">
  <h1 style="margin-bottom:0;">{{class_name}}</h1>
	{{identifierContext=start;name=stundenplan}}<p>{{stundenplan}} {{writeString=wns.class.schedule}}</p>{{identifierContext=end;name=stundenplan}}
	{{identifierContext=start;name=weekplan}}<p>{{weekplan}} {{writeString=wns.class.schedule_week}}</p>{{identifierContext=end;name=weekplan}}
	{{identifierContext=start;name=room_number}}<p>{{writeString=wns.class.room_number}}{{room_number}}</p>{{identifierContext=end;name=room_number}}
	{{event_section}}
	{{link_section}}
</div>