<tr class="row {{oddeven}}">
	<td class="datum"><a href="{{detail_link}}" title="{{detail_link_title}}">{{date_from_to}}</a></td>
	<td class="event_title">
		<a class="{{class_active}}" href="{{detail_link}}" title="{{detail_link_title}}">{{detail_link_text}}</a>{{identifierContext=start;name=date_from_to_addon}}<br /><span>{{date_from_to_addon}}</span>
		{{identifierContext=end;name=date_from_to_addon}}
	</td>
</tr>