<table class="class_list list_view with_header">
	<thead>
		<tr>
			<th>{{writeString=wns.class.class_name}}</th>
			<th>{{writeString=wns.class.class_type}}</th>
			<th style="text-align:right;">{{writeString=wns.class.children_count}}</th>
			<th style="padding-left:1.8em;">{{header_col_teachers}}</th>
			<th title="{{writeString=wns.class.schedule}}">{{writeString=wns.class.schedule_short}}</th>
		</tr>
	</thead>
	<tfoot></tfoot>
	<tbody>
  {{list_item}}
	</tbody>
</table>