<table class="class_list list_view">
	<thead>
		<tr>
			<th>Klassenname</th>
			<th>Klassentyp</th>
			<th style="text-align:right;">Anzahl</th>
			<th style="padding-left:1.8em;">KlassenlehrerIn</th>
			<th>SP</th>
		</tr>
	</thead>
	<tfoot></tfoot>
	<tbody>
  {{list_item}}
	</tbody>
</table>