<tr class="row {{oddeven}}">
	<td><a href="{{detail_link}}" title="{{detail_title}}">{{name}}</a></td>
	<td>{{class_type}}</td>
	<td style="text-align: right;">{{count_students}}</td>
	<td style="padding-left:1.5em;">{{class_teacher_links}}</td>
	<td>{{stundenplan}}</td>
</tr>