<tr class="row {{oddeven}}">
	<td class="datum"><a href="{{detail_link}}" title="{{detail_link_title}}">{{date_from_to}}</a></td>
	<td class="event_title" style="padding-left:.5em;">
		<a class="{{class_active}}" href="{{detail_link}}" title="{{detail_link_title}}">{{detail_link_text}}</a>
	</td>
</tr>