Hallo {{first_name}} {{last_name}},

Du kannst dich jetzt in die Administration der Webseite Schule-***REMOVED*** Entwicklung.ch einloggen.
Da kannst du deine Klassendaten einpflegen.
- Klassenbild hochladen/ersetzen
- Stundenplan und Wochenplan hochladen
- Veranstaltungen und Links erstellen.

Deine Benutzerdaten kannst du nach dem Einloggen verändern.
Dein Benutzername: {{username}}
Dein Passwort: {{password}}

Gruss,
Web-Admin Schule ***REMOVED*** Entwicklung