<form enctype="multipart/form-data">
	<div class="status_section">
		<div class="hide_if_not_saved">
			<h3>Daten aus ***REMOVED*** [ ID :<span class="original_id status"></span> ]</h3>
			<label>Nachname:</label><span class="last_name status"></span><br />
			<label>Vorname:</label><span class="first_name status"></span><br />
			<label>Beruf:</label><span class="profession status"></span><br />
			<label>Klassen:</label><span class="class_teacher_info status"></span><br />
			<label>Geburtsdatum:</label><span class="date_of_birth status"></span><br />
			<label>Angestellt seit:</label><span class="employed_since status"></span><br />
		</div>
	</div>
	<div class="specials">
		<div class="preview">
			<div class="portrait_area">
				<span class="description">{{writeString=wns.draganddrop}}<span title="{{writeString=wns.team_member.remove_portrait}}" class="remove"> ✘</span></span>
				<div class="portrait"></div>
			</div>
		</div>
	</div>
</form>