Widget.types.team_member_detail = {
	initialize: function() {
		var _this = this;
		this.content = jQuery.parseHTML("{{includeTemplate=edit}}");
		this.content.find('div.hide_if_not_saved').hide();
		
		this.invite_button = this.content.find('.invite_button').button({disabled: true}).click(function() {
			_this.inviteUser(function() {
				Widget.notifyUser(Widget.logSeverity.INFO, "{{writeString=team_member.invite_email_success}}");
			});
		});
		this.uploader = Widget.create('file_upload');
			
		var portrait_area = _this.content.find('.portrait_area');
		portrait_area.find('.remove').click(function() {
			_this.portrait_id = null;
		});
		
		this.uploader.allow_drag_to(portrait_area, null, function(target, file) {
			if(file.type.indexOf('image/') !== 0) {
				Widget.notifyUser('alert', 'Das Portrait muss ein Bild sein (Datei vom Typ «JPG», «PNG»)');
				return false;
			}

			return {document_kind: 'image', document_id: _this.portrait_id, document_category_id: _this.settings.portrait_category_id, callback: _this.upload_success.bind(_this), error: _this.upload_error.bind(_this)};
		}, true);
		
		// Portrait setter/getter
		var portrait_id = null;
		Object.defineProperty(_this, 'portrait_id', {
			get: function() {
				return portrait_id;
			},
			set: function(portrait) {
				portrait_id = portrait;
				var remove_link = portrait_area.find('.remove');
				if(portrait_id === null) {
					portrait_area.find('.portrait').empty();
					remove_link.hide();
				} else {
					remove_link.show();
					Widget.callStatic('document_detail', 'documentPreview', portrait_id, 194, function(html) {
						portrait_area.find('.portrait').html(html);
					});
				}
			}
		});
		
		Widget.callStatic('detail', 'create_for_instance', this);
		
		this.handle('saving', function(event, data) {
			data.portrait_id = _this.portrait_id;
		});
	},
	
	upload_success: function(document_id, error) {
		this.portrait_id = document_id;
		this.save(true);
	},
	
	upload_error: function(error) {
	},
	
	save: function(should_remain_open) {
		if(should_remain_open) {
			this.settings.remains_open = true;
		}
		this.detail_widget.settings.save_callback();
		if(should_remain_open) {
			this.settings.remains_open = false;
		}
	},

	fill_data: function() {
		this.detail_widget.disable();		
		this.invite_button.button('disable');
		this.teamMemberData(function(team_member_data) {
			this.content.find("span.last_name").text(team_member_data.LastName || "");
			this.content.find("span.first_name").text(team_member_data.FirstName || "");
			this.content.find("span.employed_since").text(team_member_data.EmployedSinceFormatted || "");
			this.content.find("span.date_of_birth").text(team_member_data.DateOfBirthFormatted || "");
			this.content.find("span.profession").text(team_member_data.Profession || "");
			this.content.find("span.class_teacher_info").text(team_member_data.ClassTeacherInfo || "");
			this.content.find("span.original_id").text(team_member_data.OriginalId || "");
			this.content.find("span.e_mail_g").text(team_member_data.EmailG || "");
			this.content.find("span.e_mail_p").text(team_member_data.EmailP || "");
			this.content.find(".updated_info").text(team_member_data.UpdatedInfo);

			this.portrait_id = team_member_data.PortraitId;
			this.content.find('div.hide_if_not_saved').show();
			this.detail_widget.set_title(this.detail_widget.settings.title = team_member_data.LastName+', '+team_member_data.FirstName);
			if(team_member_data.EmailP) {
				this.invite_button.button('enable');
			}
			this.detail_widget.enable();		
		});
	},
	
	settings: {
		detail_widget: {
			title: "{{writeString=wns.team_member.create}}",
			width: 550,
			minHeight: 500
		}
	}
};