.detail-widget-team_member_detail .status_section {
	width: 25em;
}

.status_section .hide_if_not_saved label {
	width: 8em;
}

.preview .portrait_area {
	text-align: center;
	width: 203px;
	display: block;
	line-height: 1.6em;
	min-height: 14em;
	margin: 1em;
}

.specials {
	min-height: 215px;
}

