Widget.types.my_services = {
	prepare: function() {
		var _this = this;
		this._element.append(Widget.parseHTML("{{includeTemplate=services}}"));
		this.list =	this._element.find('table.my_services_list');
		this.settings.row_prototype = Widget.parseHTML("{{includeTemplate=service_item}}", false, 'tbody');
		this.reload_list();
	},

	reload_list: function() {
		var _this = this;
		this.list.empty();
		this.listServices(this.settings.dashboard, function(result) {
			if(result.length === 0) {
				_this.list.append(jQuery('<tr/>').addClass('ui-list-row').append(jQuery('<td/>').attr('colspan', 4).text('{{writeString=wns.no_results}}')));
			}
			jQuery.each(result, function(i, row_data) {
				var row = _this.settings.row_prototype.clone();
				row.find('.name').text(row_data.Name);
				row.find('.category').text(row_data.Category);
				_this.fill_count(row_data.CountDocuments, 'Dokumente', row.find('.count_documents'));
				_this.fill_count(row_data.CountMembers, 'Teammitglieder', row.find('.count_members'));
				row.find('.preview a').attr('href', row_data.ServiceLink).click(function(event) {
					event.stopPropagation();
				});
				row.dblclick(function(event) {
					Widget.create('service_detail',function(widget) {
						widget.setServiceId(row_data.Id);
						widget.fill_data();
						widget.open();
						widget.save_callback = function() {
							_this.reload_list();
						};
					});
				});
				_this.list.append(row);
			});
		});
	},

	fill_count: function(number, name, element) {
		if(number === 0) {
			element.addClass('no-entry');
			number = 'Keine';
		}
		element.text(number + ' ' + name);
	}
};