<tr class="ui-list-row pointer">
	<td class="name" title="{{writeString=wns.edit_entry.dblclick}}"></td>
	<td class="category"></td>
	<td class="count_documents" title="{{writeString=wns.edit_entry.dblclick}}"></td>
	<td class="count_members" title="{{writeString=wns.edit_entry.dblclick}}"></td>
	<td class="preview" style="width: 6em;text-align:right;"><a title="{{writeString=wns.service.preview_service_page}}" target="_blank">{{writeString=wns.preview}}</a></td>
	<td class="edit" title="{{writeString=wns.edit_entry}}">
		<div class="ui-icon ui-icon-pencil edit_entry"> </div>
	</td>
</tr>