<tr class="ui-list-row pointer">
	<td class="link_title" title="{{writeString=wns.edit_entry.dblclick}}"></td>
	<td class="link_url" title="{{writeString=wns.edit_entry.dblclick}}"></td>
	<td class="delete">
		<div class="ui-icon ui-icon-trash delete_link delete_entry"> </div>
	</td>
</tr>