Widget.types.class_detail = {
	initialize: function() {
		var _this = this;
		this._element = Widget.parseHTML("{{includeTemplate=edit}}");
		this.current_detail_id = null;
		this.force_update=false;

		// Prepare  news, events, documents and links elements
		this.add_news_button = this._element.find('.add_entry.add_news').click(this.create_news_detail.bind(this));
		this.add_event_button = this._element.find('.add_entry.add_event').click(this.create_event_detail.bind(this));
		this.add_document_button = this._element.find('.add_entry.add_document').click(this.create_document_detail.bind(this));
		this.add_link_button = this._element.find('.add_entry.add_link').click(this.create_link_detail.bind(this));

		// FIXME: Make successor/predecessor class names clickable, open new detail widgets…

		this.news_list = null;
		this.event_list = null;
		this.document_list = null;
		this.link_list = null;
		this.loaded_lists = [];

		Widget.callStatic('detail', 'create_for_instance', this);

		// Prepare file uploads
		this.prepare_file_uploads();

		this.handle('opened', function() {
			var _this = this;
			this._element.accordion({
				option: {'active': this.settings.accordion_active || 0 },
				beforeActivate: function(event, ui) {
					if(ui.newPanel.is('.news')) {
						_this.reload_news_list(false);
					} else if(ui.newPanel.is('.events')) {
						_this.reload_event_list(false);
					} else if(ui.newPanel.is('.documents')) {
						_this.reload_document_list(false);
					} else if(ui.newPanel.is('.links')) {
						_this.reload_link_list(false);
					}
				}
			});
		});

		this.handle('saving', function(event, data) {
			var _this = this;
			data.class_portrait_id = _this.class_portrait_id;
			data.class_schedule_id = _this.class_schedule_id;
			data.week_schedule_id = _this.week_schedule_id;
			data.force_update = _this.force_update;
		});
	},

	prepare_file_uploads: function() {
		var _this = this;
		this.uploader = Widget.create('file_upload');

		// portrait
		var portrait_area = this._element.find('.portrait_area');
		portrait_area.find('.remove').click(function() {
			_this.class_portrait_id = null;
			_this.save(true);
		});

		this.uploader.allow_drag_to(portrait_area, null, function(target, file) {
			if(file.type.indexOf('image/') !== 0) {
				Widget.notifyUser('alert', 'Das Portrait muss ein Bild sein (Datei vom Typ «JPG», «PNG»)');
				return false;
			}
			return {document_kind: 'image', document_id: _this.class_portrait_id, document_category_id: _this.settings.class_portrait_category_id, callback: _this.upload_success.bind(_this), error: _this.upload_error.bind(_this), class_document_type: 'portrait'};
		}, true);

		var class_portrait_id = null;
		Object.defineProperty(_this, 'class_portrait_id', {
			get: function() {
				return class_portrait_id;
			},
			set: function(class_portrait) {
				class_portrait_id = class_portrait;
				var remove_link = portrait_area.find('.remove');
				if(class_portrait_id === null) {
					portrait_area.find('.class_portrait').empty();
					remove_link.hide();
				} else {
					remove_link.show();
					Widget.callStatic('document_detail', 'documentPreview', class_portrait_id, 220, function(html) {
						portrait_area.find('.class_portrait').html(html);
					});
				}
			}
		});

		// Stundenplan
		var stundenplan = this._element.find('.stundenplan');
		stundenplan.find('.remove').click(function() {
			_this.class_schedule_id = null;
			_this.save(true);
		});

		this.uploader.allow_drag_to(stundenplan, null, function(target, file) {
			if(file.type !== 'application/pdf' && file.name.lastIndexOf('.pdf') !== (file.name.length - 4)) {
				Widget.notifyUser(Widget.logSeverity.ALERT, 'Der Stundenplan muss eine Datei vom Typ «PDF» sein');
				return false;
			}
			return {document_kind: 'application', document_id: _this.class_schedule_id, document_category_id: _this.settings.class_schedule_category_id, callback: _this.upload_success.bind(_this), error: _this.upload_error.bind(_this), class_document_type: 'schedule'};
		}, true);

		var class_schedule_id = null;
		Object.defineProperty(_this, 'class_schedule_id', {
			get: function() {
				return class_schedule_id;
			},
			set: function(class_schedule) {
				class_schedule_id = class_schedule;
				var remove_link = stundenplan.find('.remove');
				if(class_schedule_id === null) {
					stundenplan.find('.class_schedule').empty();
					remove_link.hide();
				} else {
					remove_link.show();
					stundenplan.find('.class_schedule').html('<a class="pdf" href="'+FILE_PREFIX+'/display_document/'+class_schedule_id+'">Stundenplan</a>');
				}
			}
		});

		// Wochenplan
		var wochenplan = this._element.find('.wochenplan');
		wochenplan.find('.remove').click(function() {
			_this.week_schedule_id = null;
			_this.save(true);
		});
		this.uploader.allow_drag_to(wochenplan, null, function(target, file) {
			if(file.type !== 'application/pdf') {
				Widget.notifyUser(Widget.logSeverity.ALERT, 'Der optionale Plan muss eine Datei vom Typ «PDF» sein');
				return false;
			}
			return {document_kind: 'application', document_id: _this.week_schedule_id, document_category_id: _this.settings.class_schedule_category_id, callback: _this.upload_success.bind(_this), error: _this.upload_error.bind(_this), class_document_type: 'week_schedule'};
		}, true);

		var week_schedule_id = null;
		Object.defineProperty(_this, 'week_schedule_id', {
			get: function() {
				return week_schedule_id;
			},
			set: function(week_schedule) {
				week_schedule_id = week_schedule;
				var remove_link = wochenplan.find('.remove');
				if(week_schedule_id === null) {
					wochenplan.find('.week_schedule').empty();
					remove_link.hide();
				} else {
					remove_link.show();
					wochenplan.find('.week_schedule').html('<a class="pdf" href="'+FILE_PREFIX+'/display_document/'+week_schedule_id+'">Optionaler Plan</a>');
				}
			}
		});
	},

	upload_success: function(document_id, options) {
		var _this = this;
		if(options.class_document_type === 'schedule') {
			this.class_schedule_id = document_id;
		} else if(options.class_document_type === 'week_schedule') {
			this.week_schedule_id = document_id;
		} else {
			this.class_portrait_id = document_id;
		}
		_this.force_update = true;
		this.save(true);
	},

	upload_error: function(error) {
	},

	fill_data: function() {
		this.loaded_lists = [];
		this.detail_widget.disable();

		this.schoolClassData(function(class_data) {
			this.current_detail_id = class_data.Id;
			if(class_data.LinkCategoryId === null) {
				class_data.LinkCategoryId = '';
			}
			this._element.find("span.name").text(class_data.Name);
			this._element.find("span.year_period").text(class_data.YearPeriod);
			this._element.find("span.class_teacher").text(class_data.ClassTeacher);
			this._element.find("span.room_number").text(class_data.RoomNumber);
			this._element.find("span.original_id").text(class_data.OriginalId);
			this._element.find("a.page_link").attr('href', class_data.ClassPageUrl);

			this._element.find("span.news_count_info").text(class_data.NewsCountInfo);
			this._element.find("span.events_count").text(class_data.CountEvents);
			this._element.find("span.documents_count").text(class_data.CountDocuments);
			this._element.find("span.links_count").text(class_data.CountLinks);
			this._element.find("span.count_students").text(class_data.CountStudents);
			this._element.find("span.detail_id").text(class_data.Id);

			// Show/hide migration button
			this.detail_widget._element.find('button.migrate').toggle(!!class_data.Predecessor);

			// Show/hide predecessor/successor info
			var predecessor = this._element.find("span.predecessor").parent().toggle(!!class_data.Predecessor).end();
			if(class_data.Predecessor) {
				predecessor.data({id: class_data.Predecessor.id}).text(class_data.Predecessor.name);
			}
			var successor = this._element.find("span.successor").parent().toggle(!!class_data.Successor).end();
			if(class_data.Successor) {
				successor.data({id: class_data.Successor.id}).text(class_data.Successor.name);
			}

			this.class_portrait_id = class_data.ClassPortraitId;
			this.class_schedule_id = class_data.ClassScheduleId;
			this.week_schedule_id = class_data.WeekScheduleId;

			this.detail_widget.set_title(this.detail_widget.settings.title = class_data.ClassType+' '+class_data.Name);

			this.detail_widget.enable();
			this.reload_active_panel_content(this._element.accordion("option", "active"));
		});
	},

	update_news_info: function() {
		var _this = this;
		this.getNewsCountInfo(this.current_detail_id, function(news_count_info) {
			_this._element.find("span.news_count_info").text(news_count_info);
		});
		if(this.news_list) {
			this.news_list.settings.school_class_news_type_id = _this.settings.class_news_type_id;
			this.news_list.settings.predefined_school_class_id = _this.current_detail_id;
		}
	},

	update_events_info: function() {
		var _this = this;
		this.countEvents(this.current_detail_id, function(count) {
			_this._element.find("span.events_count").text(count);
		});
		if(this.event_list) {
			this.event_list.settings.school_class_event_type_id = _this.settings.class_event_type_id;
			this.event_list.settings.predefined_school_class_id = _this.current_detail_id;
		}
	},

	update_documents_info: function() {
		var _this = this;
		this.countDocuments(this.current_detail_id, function(count) {
			_this._element.find("span.documents_count").text(count);
		});
		if(this.document_list) {
			this.document_list.settings.school_class_document_category_id = _this.settings.class_document_category_id;
		}
	},

	update_links_info: function() {
		var _this = this;
		this.countLinks(this.current_detail_id, function(count) {
			_this._element.find("span.links_count").text(count);
		});
		if(this.link_list) {
			this.link_list.settings.school_class_link_category_id = _this.settings.class_link_category_id;
		}
	},

	create_news_detail: function() {
		var _this = this;
		this.add_news_button.addClass('ui-loading-add');
		Widget.create('news_detail', function(widget){
			widget.settings.predefined_school_class_id = _this.current_detail_id;
			widget.settings.predefined_news_type_id = _this.settings.class_news_type_id;
		}, function(widget) {
			widget.open();
			widget.save_callback = function(news_id) {
				_this.reload_news_list(true);
				_this.force_update = true;
			};
			_this.add_news_button.removeClass('ui-loading-add');
		});
	},

	create_event_detail: function() {
		var _this = this;
		this.add_event_button.addClass('ui-loading-add');
		Widget.create('event_detail', function(widget) {
			widget.settings.predefined_school_class_id = _this.current_detail_id;
			widget.settings.predefined_event_type_id = _this.settings.class_event_type_id;
		}, function(widget) {
			widget.open();
			widget.save_callback = function() {
				_this.reload_event_list(true);
				_this.force_update = true;
			};
			_this.add_event_button.removeClass('ui-loading-add');
		});
	},

	create_document_detail: function() {
		var _this = this;
		this.add_document_button.addClass('ui-loading-add');
		Widget.create('document_detail', function(widget) {
			widget.settings.initial.document_category_id = _this.settings.class_document_category_id;
			widget.settings.is_called_externally = true;
		}, function(widget) {
			widget.open();
			widget.save_callback = function(document_id) {
				_this.addClassDocument(document_id);
				_this.reload_document_list(true);
				_this.force_update = true;
			};
			_this.add_document_button.removeClass('ui-loading-add');
		});
	},

	create_link_detail: function() {
		var _this = this;
		this.add_link_button.addClass('ui-loading-add');
		Widget.create('link_detail', function(widget) {
			widget.settings.predefined_link_category_id = _this.settings.class_link_category_id;
		}, function(widget) {
			widget.open();
			widget.save_callback = function(link_id) {
				_this.addClassLink(link_id);
				_this.reload_link_list(true);
			};
			_this.add_link_button.removeClass('ui-loading-add');
		});
	},

	list_requires_loading: function(key, force_reload) {
		var registered = jQuery.inArray(key, this.loaded_lists) !== -1;
		if(!registered) {
			this.loaded_lists.push(key);
			return true;
		}
		if(force_reload) {
			return true;
		}
		return false;
	},

	reload_active_panel_content: function(index) {
		if(index === 1) this.reload_news_list(true);
		if(index === 2) this.reload_event_list(true);
		if(index === 3) this.reload_document_list(true);
		if(index === 4) this.reload_link_list(true);
	},

	reload_news_list: function(reload) {
		var _this = this;
		reload = this.list_requires_loading('news', reload);
		if(this.news_list) {
			if(reload) {
				this.news_list.reload();
			}
			_this.update_news_info();
		} else {
			Widget.createWithElement('list', function(widget) {
				widget.settings.school_class_news_type_id = _this.settings.class_news_type_id;
				widget.settings.predefined_school_class_id = _this.current_detail_id;
				_this.news_list = widget;
				widget._element.insertBefore(_this.add_news_button.show());
			}, this.settings.news_list_session);
		}
	},

	reload_event_list: function(reload) {
		var _this = this;
		reload = this.list_requires_loading('events', reload);
		if(this.event_list) {
			if(reload) {
				this.event_list.reload();
			}
			_this.update_events_info();
		} else {
			Widget.createWithElement('list', function(widget) {
				widget.settings.school_class_event_type_id = _this.settings.class_event_type_id;
				widget.settings.predefined_school_class_id = _this.current_detail_id;
				_this.event_list = widget;
				widget._element.insertBefore(_this.add_event_button.show());
			}, this.settings.event_list_session);
		}
	},

	reload_document_list: function(reload) {
		var _this = this;
		reload = this.list_requires_loading('documents', reload);
		if(this.document_list) {
			if(reload) {
				this.document_list.reload();
			}
			_this.update_documents_info();
		} else {
			Widget.createWithElement('list', function(widget) {
				widget.settings.school_class_document_category_id = _this.settings.class_document_category_id;
				widget.settings.is_called_externally = true;
				_this.document_list = widget;
				widget._element.insertBefore(_this.add_document_button.show());
			}, this.settings.document_list_session);
		}
	},

	reload_link_list: function(reload) {
		var _this = this;
		reload = this.list_requires_loading('links', reload);
		if(this.link_list) {
			if(reload) {
				this.link_list.reload();
			}
			_this.update_links_info();
		} else {
			Widget.createWithElement('list', function(widget) {
				widget.settings.school_class_link_category_id = _this.settings.class_link_category_id;
				_this.link_list = widget;
				widget._element.insertBefore(_this.add_link_button.show());
			}, this.settings.link_list_session);
		}
	},

	save: function(should_remain_open) {
		if(should_remain_open) {
			this.settings.remains_open = true;
		}
		this.detail_widget.settings.save_callback();
		if(should_remain_open) {
			this.settings.remains_open = false;
		}
	},

	settings: {
		detail_widget: {
			title: "{{writeString=school_class.create}}",
			width: 700,
			additionalButtons: [{
				text: '{{writeString=school_class.migrate}}',
				'class': 'migrate',
				click: function(event, detail_widget, class_detail) {
					detail_widget.set_is_loading(true);
					class_detail.migrateData(!!event.altKey, function(result) {
						// Reload widget with new data
						detail_widget.set_is_loading(false);
						if(!arguments[1]) {
							class_detail.fill_data();
						}
					});
				}
			}]
		},
		accordion_active: 0
	}
};
