.ui-dialog.detail-widget-class_detail .ui-dialog-content {
	padding: 0;
}

.ui-dialog.detail-widget-class_detail .ui-accordion-content  {
	border: none;
	padding: 0;
}

.ui-dialog.detail-widget-class_detail .ui-accordion-content.tab_part {
	padding:0em 1em;	
	padding-bottom: .5em;
	padding-left: 1.6em;
}

.ui-dialog.detail-widget-class_detail .ui-state-active {
	background-color: #ebedef;
}

.ui-dialog.detail-widget-class_detail .ui-dialog-content .ui-state-active,
.ui-dialog.detail-widget-class_detail .ui-dialog-content.ui-widget-content .ui-state-default, 
.ui-widget-content .ui-state-active {
	background:url("") repeat scroll 0 0 #ebedef;
}

.ui-dialog.detail-widget-class_detail .status_section h3 {
	border-bottom: #C1C2C4 1px solid;
	font-weight: 700;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

.ui-dialog.detail-widget-class_detail .status_section {
	 width: 21em;
}

.detail-widget-class_detail  select.ui-widget-content, 
.detail-widget-class_detail input.ui-widget-content, 
.detail-widget-class_detail textarea.ui-widget-content {
	width: 30em;
}

div.droppable_separator {
	padding: 1px;
}
.main_content input.ui-widget-content.time_details {
	width: 22em;
}

.ui-dialog.detail-widget-class_detail .status_section .hide_if_not_saved label {
	width: 8em;
}

.preview .portrait_area, .stundenplan, .wochenplan {
	background-color: #FFF;
	vertical-align: center;
	text-align: center;
	width: 250px;
	height: 194px;
	display: block;
	line-height: 1.6em;
	min-height: 7em;
	padding: 0;
	margin: .5em 1em;
	color: #666;
	border: 1px solid #f1f1f1;
}

td.event_date {
	width: 5.3em;
	text-align: right;
}

td.status_icons.has_bericht {
	background: transparent url("{{writeDirectInclude=admin/has_bericht.png;template=location_only}}") no-repeat 0 3px;
}

td.status_icons.has_images {
	background: transparent url("{{writeDirectInclude=admin/has_images.png;template=location_only}}") no-repeat 0 3px;
}

.link_url a {
	color: #666666;
}

td.delete {
	width: 1em;
}

.preview .portrait_area {
	margin-bottom: 1em;
}

.stundenplan, .wochenplan {
	margin: .5em 0;
	height: 20px;
	min-height: 3.5em;
}

span.remove {
	color: black;
	cursor: pointer;
}

a.pdf {
	padding-left:1.5em;
	padding-bottom: .3em;
	color: #999;
	background: transparent url("{{writeDirectInclude=admin/pdf.png;template=location_only}}") no-repeat;
	display:inline-block;
}

fieldset.option_groups,
fieldset.option_groups:first-child {
	margin: 0em;
	border: none;
	padding: none;
}

legend {
	font-weight: bold; 
}

a.page_link {
	display:block;
	padding-top: .3em;
	color: #999;
}

