<tr class="ui-list-row pointer">
	<td class="event_date" title="{{writeString=wns.edit_entry.dblclick}}"></td>
	<td class="event_title" title="{{writeString=wns.edit_entry.dblclick}}"></td>
	<td class="delete">
		<div class="ui-icon ui-icon-trash delete_event delete_entry"> </div>
	</td>
</tr>