<tr class="ui-list-row pointer">
	<td class="document_title" title="{{writeString=wns.edit_entry.dblclick}}"></td>
	<td class="document_extension" title="{{writeString=wns.edit_entry.dblclick}}"></td>
	<td class="delete">
		<div class="ui-icon ui-icon-trash delete_document delete_entry"> </div>
	</td>
</tr>