.ui-dialog.detail-widget-class_detail .ui-dialog-content {
	padding: 0;
}

.ui-dialog.detail-widget-class_detail .ui-accordion-content  {
	border: none;
	padding: 0;
}

.ui-dialog.detail-widget-class_detail table.ui-list td:first-child,
.ui-dialog.detail-widget-class_detail table.ui-list th:first-child {
	padding-left: 22px;
}

.ui-dialog.detail-widget-class_detail a.add_entry {
	margin: 0.3em;
}

h3 span.number {
	padding-left: 0.3em;
}

h3 span.number::before {
	content: '(';
}

h3 span.number::after {
	content: ')';
}

.ui-dialog.detail-widget-class_detail .status_section h3 {
	border-bottom: #C1C2C4 1px solid;
	font-weight: 700;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

.ui-dialog.detail-widget-class_detail .status_section {
	 width: 21em;
}

.detail-widget-class_detail  select.ui-widget-content, 
.detail-widget-class_detail input.ui-widget-content, 
.detail-widget-class_detail textarea.ui-widget-content {
	width: 30em;
}

.portrait_area, .stundenplan, .wochenplan {
	text-align: center;
	width: 250px;
}

.stundenplan, .wochenplan {
	margin: .5em 0;
	height: 20px;
	min-height: 3.5em;
}

.portrait_area {
	min-height: 220px;
	margin-bottom: 1em;
	margin: .5em 1em;
}

.link_url a {
	color: #666666;
}

span.remove {
	color: black;
	cursor: pointer;
}

a.pdf {
	padding-left:1.5em;
	padding-bottom: .3em;
	color: #999;
	background: transparent url("{{writeDirectInclude=admin/pdf.png;template=location_only}}") no-repeat;
	display:inline-block;
}

fieldset.option_groups,
fieldset.option_groups:first-child {
	margin: 0em;
	border: none;
	padding: none;
}

a.page_link {
	display:block;
	padding-top: .3em;
	color: #999;
}

