<form enctype="multipart/form-data" class="accordion">
	<h3><a href="#">{{writeString=wns.class.tab_general_info}}</a></h3>
	<div class="tab_part general_info">
		<div class="status_section">
			<div class="hide_if_not_saved">
				<h3>{{writeString=school_class.data_info_title}} [ ID :<span class="original_id status"></span> ]</h3>
				<label>{{writeString=school_class.name}}:</label><span class="name status"></span><br />
				<label>{{writeString=school_class.year}}:</label><span class="year_period status"></span><br />
				<label>{{writeString=school_class.count_students}}:</label><span class="count_students status"></span><br />
				<label>{{writeString=school_class.main_teacher}}:</label><span class="class_teacher status"></span><br />
				<label>{{writeString=school_class.room_number}}:</label><span class="room_number status"></span><br />
				<label>{{writeString=wns.id}}</label><span class="detail_id"></span>
				<div class="droppable_separator">
					<div class="stundenplan ui-state-droppable" title="Stundenplan hier hinein ziehen">
						<span class="description">{{writeString=school_class.schedule}}<span title="{{writeString=wns.class.remove_schedule}}" class="remove"> ✘</span></span>
						<div class="class_schedule"></div>
					</div>
				</div>
				<div class="droppable_separator">
					<div class="wochenplan ui-state-droppable" title="Wochenplan hier hinein ziehen">
						<span class="description">{{writeString=school_class.week_schedule}}<span title="{{writeString=wns.class.remove_schedule}}" class="remove"> ✘</span></span>
						<div class="week_schedule"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="specials">
			<div class="preview">
				<div class="portrait_area ui-state-droppable" title="Portrait hier hinein ziehen">
					<span class="description">{{writeString=school_class.portrait}}<span title="{{writeString=wns.class.remove_portrait}}" class="remove"> ✘</span></span>
					<div class="class_portrait"></div>
					<div class="image_info">{{writeString=school_class.image_dimension_hints;defaultValue=""}}</div>
				</div>
			</div>
		</div>
	</div>
	<h3><a href="#">{{writeString=wns.class.news}}<span class="news_count_info number"></span></a></h3>
	<div class="tab_part news list">
		<a class="add-new-item add_entry add_news" title="{{writeString=wns.create_new_entry}}"> </a>
	</div>
	<h3><a href="#">{{writeString=wns.class.events}}<span class="events_count number"></span></a></h3>
	<div class="tab_part events list">
		<a class="add-new-item add_entry add_event" title="{{writeString=wns.create_new_entry}}"> </a>
	</div>
	<h3><a href="#">{{writeString=wns.class.documents}}<span class="documents_count number"></span></a></h3>
	<div class="tab_part documents list">
		<a class="add-new-item add_entry add_document" title="{{writeString=wns.create_new_entry}}"> </a>
	</div>
	<h3><a href="#">{{writeString=wns.class.links}}<span class="links_count number"></span></a></h3>
	<div class="tab_part links list">
		<a class="add-new-item add_entry add_link" title="{{writeString=wns.create_new_entry}}"> </a>
	</div>
</form>
