[submodule "web/js/wok"]
	path = web/js/wok
	url = https://github.com/sabberworm/Wok.js.git
[submodule "lib/vendor/eluceo/ical"]
	path = lib/vendor/eluceo/ical
	url = https://github.com/markuspoerschke/iCal.git
