<div class="group_fields">
	<label for="display_mode">{{writeString=faqs.display_mode}}</label>
	<select name="display_mode" class="ui-widget-content autowidth"></select>
</div>
<div class="group_fields">
	<label for="school_site_id"> {{writeString=faq.config_label.school_site}}</label>
	<select name="school_site_id" class="ui-widget-content" data-widget-type="school_site_input"></select>
</div>
<p>{{writeString=faqs.frontend_module_vs_page_type_info}}</p>
