<form>
	<label for="news_types[]">
		{{writeString=wns.news.news_types}}
	</label>
	<select name="news_types[]" class="ui-widget-content autowidth" style="min-width:8em;" multiple="multiple"></select>
</form>
