<div onclick="window.history.back();return false;" data-value="list" class="wett-icon active history" data-url="{{fallback_url}}" title="{{writeString=detail.history_back_button_title}}">list</div>
<h1>{{title}}</h1>
<div class="meta-info">{{date}} / {{news_type}}</div>
{{content}}
