<div data-wok-filter='newsData/newsData.filtered/{"type": ""},"session"'>
	<h1>{{title}}</h1>{{identifierContext=start;name=filters}}
	<div class="filters">
		<div data-wok-filter-options='filter//"type"' class="popup-links" title="{{writeString=news.filter.type}}">
			<ul class="available links">
				{{filters}}
			</ul>
		</div>
	</div>{{identifierContext=end;name=filters}}
</div>