<table class="news list">
	<thead>
		<tr>
			<th>{{writeString=news.heading.date}}</th>
			<th>{{writeString=news.heading.headline}}</th>
			<th>{{writeString=news.heading.news_type}}</th>
		</tr>
	</thead>
	<tbody>
		{{items}}
	</tbody>
</table>
