<h2>Kleine Schulstatistik</h2>
<table class="statistics_list">
	<tbody>
		<tr>
			<td>Die Schule hat</td>
		</tr>
		<tr>
			<td>{{students_info}}</td>
		</tr>
		<tr>
			<td>{{classes_info}}</td>
		</tr>
		<tr>
			<td>{{teachers_info}}</td>
		</tr>
		<tr>
			<td>{{other_team_info}}</td>
		</tr>
	</tbody>
</table>