<tr class="row">
	<td><a class="{{extension}} document_type" href="{{url}}" title="{{name}}">{{name}}</a>
	<span>{{description}}</span></td>
	<td style="text-align: right;"><a href="{{url}}" title="{{description}}">{{writeString=document.linktext_download}}</a></td>
</tr>
