<tr class="row">
	<td><p><a class="{{extension}}" href="{{url}}" title="{{name}}">{{name}}</a><br />
	{{description}}</p></td>
	<td style="text-align: right;"><a href="{{url}}" title="{{description}}">{{writeString=document.linktext_download}}</a></td>
</tr>
