<a href="{{url}}?max_width=1200&amp;max_height=1000" rel="gallery[event-{{event_id}}]" title="{{description}}" class="gallery-canvas gallery-detail-link">
	<span class="gallery-item">
		<span class="gallery-item-holder"><img src="{{url}}?{{max_size_param}}=180" /></span>
	</span>
</a>