<div class="gallery" data-wok-directSource='/galleryItems/{}, [{{identifierContext=start;name=items}}{{items}}, {{identifierContext=end;name=items}} null]' data-wok-filter='galleryItems/galleryItems.filtered/{"selected": 0}' data-wok-galleryDisplay='galleryItems.filtered//{"field": "selected"}'>
	<div class="image"></div>
	<div class="strip" data-wok-filter-imagePager='filter//{"thumbnails": 10, "field": "selected"}'>
		<div class="prev">&lt;</div>
		<div class="thumbnails"></div>
		<div class="next">&gt;</div>
	</div>
	<div class="fullscreen-button">grow</div>
	<div class="info"></div>
</div>