<tr class="row">
	<td class="highlight"><a href="{{url}}" title="{{description}}">{{name}}</a> <span>
	{{description}}</span></td>
	<td style="text-align: right;"><a href="{{url}}" title="{{description}}">mehr</a></td>
</tr>
