<tr class="row">
	<td><a href="{{url}}" title="{{description}}">{{name}}</a> <span>
	{{description}}</span></td>
	<td style="text-align: right;"><a href="{{url}}" title="{{description}}">{{writeString=text.read_more}}</a></td>
</tr>
