<tr class="row">
	<td><a href="{{url}}" title="{{wns.link.go_to}}"> </a></td>
	<td><a href="{{url}}" title="{{wns.link.go_to}}">{{name}}</a> <span>
	{{description}}  <a href="{{url}}" title="{{description}}" class="more_link">mehr…</a></span></td>
</tr>