<div class="group_fields">
	<label for="display_mode">
		{{writeString=wns.team_members.display_options}}
	</label>
	<select name="display_mode" class="ui-widget-content"></select>
</div>
<div class="group_fields list_option_only">
	<label for="function_groups[]">
		{{writeString=wns.team_members.function_groups}}
	</label>
	<select name="function_groups[]" class="ui-widget-content autowidth" style="min-width:8em;" multiple="multiple"></select>
</div>
<ol class="preview ui-editable-items-list"></ol>
