<tr class="ui-list-row pointer">
	<td class="name" title="{{writeString=wns.edit_entry.dblclick}}"></td>
	<td class="period" title="{{writeString=wns.edit_entry.dblclick}}"></td>
	<td class="type" title="{{writeString=wns.edit_entry.dblclick}}"></td>
	<td class="portrait" title="Klassen-Portrait"><div class=""> </div></td>
	<td class="class_schedule" title="Stundenplan"><div class=""> </div></td>
	<td class="week_schedule" title="Wochenplan"><div class=""> </div></td>
	<td class="amount"></td>
	<td class="events" title="{{writeString=wns.edit_extras.dblclick}}"></td>
	<td class="links" title="{{writeString=wns.edit_extras.dblclick}}"></td>
	<td class="preview" style="width: 6em;text-align:right;"><a title="{{writeString=wns.class.preview_class_page}}" target="_blank">{{writeString=wns.preview}}</a></td>
	<td class="edit" title="{{writeString=wns.edit_entry}}">
		<div class="ui-icon ui-icon-pencil edit_entry"> </div>
	</td>
</tr>