<form>
	<div style="clear: left;">
		<input name="hide_subject_classes" type="checkbox" value="1"><label for="hide_subject_classes">{{writeString=wns.my_classes.hide_subject_classes}}</label>
	</div>
	<div style="clear: left;">
		<input name="hide_old_classes" type="checkbox" value="1"><label for="hide_old_classes">{{writeString=wns.my_classes.hide_old_classes}}</label>
	</div>
</form>