Widget.types.my_classes = {
	prepare: function() {
		var _this = this;
		this._element.append(Widget.parseHTML("{{includeTemplate=edit}}"));

		this.settings.row_prototype = Widget.parseHTML("{{includeTemplate=class_item}}", false, 'tbody');
		this.list =	this._element.find('table.my_classes_list');
		this.reload_list();
	},

	reload_list: function() {
		var _this = this;
		this.list.empty();
		this.listClasses(function(result) {
			if(result.length === 0) {
				_this.list.append(jQuery('<tr/>').addClass('ui-list-row').append(jQuery('<td/>').attr('colspan', 4).text('{{writeString=wns.no_results}}')));
			}
			jQuery.each(result, function(class_id, row_data) {
				var row = _this.settings.row_prototype.clone();

				row.find('.name').text(row_data.Name);
				row.find('.class_type').text(row_data.ClassType);
				row.find('.period').text(row_data.Year);
				row.find('.portrait div').addClass(row_data.ClassPortrait ? 'ui-icon ui-icon-image' : '' );
				row.find('.class_schedule div').addClass(row_data.ClassSchedule ? 'ui-icon ui-icon-document' : '' );
				row.find('.week_schedule div').addClass(row_data.WeekSchedule ? 'ui-icon ui-icon-document' : '' );

				_this.fill_count(row_data.Amount, 'SchülerInnen', row.find('.amount'));
				_this.fill_count(row_data.News, 'Texte', row.find('.news'));
				_this.fill_count(row_data.Events, 'Veranstaltungen', row.find('.events'));
				_this.fill_count(row_data.Documents, 'Dokumente', row.find('.documents'));
				_this.fill_count(row_data.Links, 'Links', row.find('.links'));

				row.find('.preview a').attr('href', row_data.ClassLink).click(function(event) {
					event.stopPropagation();
				});
				if(!row_data.IsCurrent) {
					row.addClass('is_not_current');
				}

				row.dblclick(function(event) {
					var targetClasses = event.target.classList;
					Widget.createOnce('class_detail', function apply(widget) {
						var tab = 0;
						if(targetClasses.contains('news')) {					   tab = 1;
						} else if(targetClasses.contains('events')) {    tab = 2;
						} else if(targetClasses.contains('documents')) { tab = 3;
						} else if(targetClasses.contains('links')) {     tab = 4;
						}
						widget.handle('opened', function() {
							widget._element.accordion('option', 'active', tab);
						}, true, true);
						widget.handle('detail-created', function() {
							widget.setSchoolClassId(row_data.Id);
							widget.fill_data();
							widget.open();
						}, true, true);
					}, function finish(widget) {
						widget.save_callback = function() {
							_this.reload_list();
						};
					}, null, _this);
				});
				_this.list.append(row);
			});
		});
	},

	fill_count: function(number, name, element) {
		if(number === 0) {
			element.addClass('no-entry');
			number = 'Keine';
		}
		element.text(number + ' ' + name);
	},

	settings: {
		documentation_key: 'widget.my_classes'
	}
};