Widget.types.my_classes = {
	prepare: function() {
		var _this = this;
		this._element.append(jQuery.parseHTML("{{includeTemplate=edit}}"));
		this.list =	this._element.find('table.my_classes_list');
		this.settings.row_prototype = jQuery.parseHTML("{{includeTemplate=class_item}}", false, 'tbody');
		this.has_old_classes = false;
		this.show_old_button = this._element.find('span.toggle_show_all').hide();
		this.reload_list();
		this.show_old_button.click(function() {
			jQuery(this).toggleClass('closed');
			_this.list.find('tr.is_not_current').toggleClass('hidden');
		});
	},
	
	reload_list: function() {
		var _this = this;
		this.list.empty();
		this.listClasses(this.settings.dashboard, function(result) {
			if(result.length === 0) {
				_this.list.append(jQuery('<tr/>').addClass('ui-list-row').append(jQuery('<td/>').attr('colspan', 4).text('{{writeString=wns.no_results}}')));
			}
			jQuery.each(result, function(class_id, row_data) {
				var row = _this.settings.row_prototype.clone();
				row.find('.name').text(row_data.Name);
				row.find('.type').text(row_data.Type);
				row.find('.period').text(row_data.Year);
				row.find('.preview a').attr('href', row_data.ClassLink).click(function(event) {
					event.stopPropagation();
				});
				row.find('.portrait div').addClass(row_data.ClassPortrait ? 'ui-icon ui-icon-image' : '' );
				row.find('.class_schedule div').addClass(row_data.ClassSchedule ? 'ui-icon ui-icon-document' : '' );
				row.find('.week_schedule div').addClass(row_data.WeekSchedule ? 'ui-icon ui-icon-document' : '' );
				_this.fill_count(row_data.Amount, 'SchülerInnen', row.find('.amount'));
				_this.fill_count(row_data.Events, 'Anlässe', row.find('.events'));
				_this.fill_count(row_data.Links, 'Links', row.find('.links'));
				row.dblclick(function(event) {
					Widget.create('class_detail', function(widget) {
						if(jQuery(event.target).hasClass('events') || jQuery(event.target).hasClass('links')) {
							widget.settings.accordion_active = 1;
						} 
					}, function(widget) {
						widget.setSchoolClassId(row_data.Id);
						widget.fill_data();
						widget.open();
						widget.save_callback = function(event_id) {
							_this.reload_list();
						};
					});
				});
				if(!row_data.IsCurrent) {
					row.addClass('is_not_current hidden');
					_this.has_old_classes = true;
				}
				_this.list.append(row);
			});
			if(_this.has_old_classes) {
				_this.show_old_button.show();
			}
		});
	},
	
	fill_count: function(number, name, element) {
		if(number === 0) {
			element.addClass('no-entry');
			number = 'Keine';
		}
		element.text(number + ' ' + name);
	}
};