td.week_schedule, td.class_schedule, td.portrait, td.edit {
	width: 15px;
	text-align: right;
}

td.no-entry { color: #999999; }

tr.is_not_current.hidden {
	display: none;
}

tr.is_not_current td {
	color: #999999;
}