jQuery(document).ready(function() {
	AdminInterface.content.find('table.class_list').prepareWidget(function(class_list) {
		AdminInterface.strings.handle_strings_for_list_result('wns.classes.no_result', ['class_type_name', 'count_students'], class_list);

		// Add info_bar elements
		var sidebar;
		AdminInterface.sidebar.find('.ui-list').prepareWidget(function(widget) {
			sidebar = widget;
			sidebar.settings.row_click_active_mode = 'activate';
			sidebar.handle('list-selection_changed', function(event, selection) {
				class_list.setOption('class_type', selection[0] && selection[0].class_type);
				class_list.reload();
			});
		});

		// Sidebar
		AdminInterface.info_bar.prepareWidget(function(info_bar) {
			info_bar.add_search_input("{{writeString=wns.search.enter_search}}", function(search) {
				if(class_list.setSearch(search)) {
					class_list.reload();
				}
			}).add_row_count_info_for_list(class_list);
		});
	});
});
