Widget.types.service_category_input = {
	prepare: function() {
		this.reload();
		Widget.handle('rapila-service_categories_changed', this.reload.bind(this));
	},
	
	reload: function() {
		var current = this._element.val();
		this._element.empty();
		var option = jQuery('<option/>');
		var categories = this.getCategories();
		jQuery.each(categories, function(i, category) {
			option.clone().text(category.name).attr('value', category.id).appendTo(this._element);
		}.bind(this));
		option.text('----').val('').prependTo(this._element);
		if(current) {
			this._element.val(current);
		} else {
			this._element.val(this.settings.initial_category_id);
		}
		if(this.settings.disabled) {
			this._element.attr('disabled', true);
		}
	},
	
	settings: {
		initial_category_id: null
	}
};