<tr class="preview_edit ui-list-row">
	<td class="document_name"></td>
	<td><a class="ui-icon ui-icon-circle-zoomin document_link"> </a></td>
	<td><span class="ui-icon ui-icon-trash delete_doc"> </span></td>
</tr>
