.main_content input.ui-widget-content {
	width: 350px;
}

div.main_content {
	width: 51.2em;
}

div.status_section textarea.ui-widget-content {
	width: 17.5em;
}

.detail-widget-service_detail fieldset {
	border: 1px solid #DFDFDF;
	margin-left: 0;
	padding: 4px 7px 9px 7px;
}

.detail-widget-service_detail .ui-dialog-content.ui-accordion .image_browse_area {
	padding: 0 0 3em;
}

.detail-widget-service_detail .ui-list.document_list {
	min-height: 7em;
	margin: 0;
}

.ui-accordion-content .document_list .ui-icon {
	display: inline-block;
}

table.document_list td {
	background-color: inherit;
	width: 25px;
}

.ui-accordion-content .document_list td.document_name {
	display: inline-block;
	width: auto;
	padding-left: 1.9em;
}

table.document_list div.no_documents_placeholder {
	padding:2em 5em;
	font-size:1.1em;
	background-image: none;
}
.ui-list tr.preview_edit.ui-list-row {
	max-height: 22px;
}

.detail-widget-service_detail tr.ui-list-headrow th:first-child,
.detail-widget-service_detail tr.ui-list-row td:first-child {
	padding-left: 1.9em;
}

.detail-widget-service_detail .add-new-item.add_entry {
	margin-left: 1.3em;
}

.logo_area {
	text-align: center;
	min-height: 5em;
	margin: .5em 0;
}

.service_logo {
	margin: .2em 0;
}

span.remove {
	color: black;
	cursor: pointer;
}

span.document_name {
	padding-left: 1.6em;
	padding-bottom: .3em;
	color: #999;
	background: transparent url("{{writeDirectInclude=admin/pdf.png;template=location_only}}") no-repeat;
	display: inline-block;
}

span.document_name.docx, span.document_name.doc {
	background: transparent url("{{writeDirectInclude=admin/doc.png;template=location_only}}") no-repeat;
}

td.counter {
	width: 10px;
}
