.ui-dialog.detail-widget-service_detail .ui-dialog-content {
	padding: 0;
}

.ui-dialog.detail-widget-service_detail .ui-accordion-content  {
	padding: 0;
}

.ui-dialog.detail-widget-service_detail .ui-accordion-content.general_info {
	padding: 0.5em 1em;	
	padding-bottom: .5em;
	padding-left: 1.6em;
}

.ui-dialog.detail-widget-service_detail .ui-state-active {
	background-color: #ebedef;
}

.ui-dialog.detail-widget-service_detail .ui-dialog-content .ui-state-active,
.ui-widget-content .ui-state-active,
.ui-dialog.detail-widget-service_detail .ui-dialog-content.ui-widget-content .ui-state-default {
	background: #ebedef none repeat scroll 0 0 ;
}

.ui-dialog.detail-widget-service_detail h3 {
	border-bottom: #C1C2C4 1px solid;
}

.ui-dialog.detail-widget-service_detail form .status_section {
	 width: 21em;
}

.main_content select.ui-widget-content, 
.main_content input.ui-widget-content, 
.main_content textarea.ui-widget-content {
	width: 30em;
}

.group_fields  textarea.ui-widget-content {
	width: 14.5em;
}

.detail-widget-service_detail fieldset {
	margin-left: 0;
	border: 1px solid #DFDFDF;
}

.ui-dialog.detail-widget .ui-accordion .ui-accordion-content .droppable_area {
	min-height: 5em;
}

.ui-accordion-content .droppable_area .ui-icon {
	display: inline-block;
}

.ui-accordion-content .droppable_area .document_name {
	display: inline-block;
	width: 80%;
}

.logo_area {
	background-color: #FFF;
	vertical-align: center;
	text-align: center;
	width: 259px;
  display: block;
  line-height: 1.6em;
  min-height: 7em;
  padding: 0;
	margin: .5em 0;
  color: #bebebe;
	border: 1px solid #f1f1f1;
}

.service_logo {
	margin: .2em 0;
	height: 12px;
}

span.remove {
	color: black;
	cursor: pointer;
}

span.document_name {
	padding-left:1.5em;
	padding-bottom: .3em;
	color: #999;
	background: transparent url("../../../site/web/images/admin/pdf.png") no-repeat;
	display:inline-block;
}
span.pdf {
	background: transparent url("../../../site/web/images/admin/pdf.png") no-repeat;
}

