<tr class="ui-list-row team_member">
	<td class="counter ui-sortable-handle">
	</td>
	<td class="team_member_id">
		<select name="team_member_id[]" class="ui-widget-content autowidth" data-widget-type="team_member_input"></select>
	</td>
	<td class="function_name">
		<input type="text" class="ui-widget-content" name="function_name[]" value="{{function_name}}" />
	</td>
	<td class="delete">
		<div class="ui-icon ui-icon-trash delete_team_member delete_entry"> </div>
	</td>
</tr>