jQuery(document).ready(function() {
	AdminInterface.content.find('table.event_list').prepareWidget(function(event_list) {
		AdminInterface.strings.handle_strings_for_list_result('wns.events.no_result', ['event_type_name'], event_list);

		// Sidebar
		var sidebar;
		AdminInterface.sidebar.find('.ui-list').prepareWidget(function(widget) {
			sidebar = widget;
			sidebar.settings.row_click_active_mode = 'activate';
			sidebar.handle('list-selection_changed', function(event, selection) {
				event_list.setOption('event_type_id', selection[0] && selection[0].event_type_id);
				event_list.reload();
			});
		});

		// Add info_bar elements
		AdminInterface.info_bar.prepareWidget(function(info_bar) {
			info_bar.add_button('add-new-item', function() {
				Widget.create('event_detail', function(widget) {
					widget.settings.initial_type_id = sidebar.active_row().data('event_type_id');
					widget.open();
					widget.save_callback = function() {
						event_list.reload();
					};
				});
			}, 'n', true).add_search_input("{{writeString=wns.search.enter_search}}", function(search) {
				if(event_list.setSearch(search)) {
					event_list.reload();
				}
			}).add_row_count_info_for_list(event_list).add_pager_for_list(event_list);
		});
	});
});
