<img src="{{portrait_display_url}}" alt="{{portrait_alt}}" />
<div class="sidebar_detail"> 
	<h2>{{full_name_inverted}}</h2>
	<p>{{identifierContext=start;name=profession}}Beruf: {{profession}}<br />{{identifierContext=end;name=profession}}
	</p>{{identifierContext=start;name=functions}}
	<p>{{functions}}
	</p>{{identifierContext=end;name=functions}}{{identifierContext=start;name=klassenlehrer_info}}
	<p>
		<label>{{class_teacher}}</label>
		{{klassenlehrer_info}}
	</p>{{identifierContext=end;name=klassenlehrer_info}}
</div>