<tr class="row {{is_active_class}}">
	<td><a href="{{detail_link}}" title="{{detail_link_title}}">{{name}}</a></td>
	<td><a href="{{detail_link}}" title="{{detail_link_title}}">{{function_groups}} {{first_function_name}}</a></td>
	<td>{{school_class}}</td>
</tr>