td.link_to_class_schedule, 
td.room_number, 
th.ui-list-heading.link_to_class_schedule,
th.ui-list-heading.room_number,
#admin_main th.room_number span,
#admin_main th.link_to_class_schedule span {
	text-align:right;
	padding-right: 1em;
}

table.ui-list td.room_number,
table.ui-list td.link_to_class_schedule {
	padding-right: 2em;
}

td.count_students, th.count_students {
	text-align: right;
}
th.count_students {
	vertical-align: bottom;
}

#admin_main .ui-list td:first-child, 
#admin_main .ui-list th:first-child {
	min-width: 10em !important;
}

table.ui-list td.count_students {
	padding-right: 3.5em;
}

table.ui-list th.count_students {
	padding-right: 0em;
}

th.ui-list-heading input[type='checkbox'] {
	height: 2;
	padding:0;
	margin: 0;
}

th.count_students span {
	margin-right: .5em;
}

td.ui-list-cell.level {
	text-align: middle;
}

table.ui-list .ui-list-cell.link_to_class_schedule a {
	text-decoration: none;
}
