<tr>
	<td><a href="{{detail_link_teacher}}" title="{{writeString=team_member.link_to}} {{teacher_name}}">{{teacher_name}}</a></td>
	<td>{{function_name}}</td>
	<td><a href="{{detail_link_subject}}">{{subject_name}}</a></td>
</tr>