<tr>
	<td><a href="{{detail_link_subject}}">{{subject_name}} <span>{{class_name}}</span></a></td>
	<td><a href="{{detail_link_teacher}}" title="{{writeString=team_member.link_to}} {{teacher_name}}">{{teacher_name}}</a></td>
	<td class="help" title="Anzahl Veranstaltungen">{{count_events}}</td>
	<td class="help" title="Anzahl Dokumente">{{count_documents}}</td>
	<td class="help" title="Anzahl Links">{{count_links}}</td>
	<td class="help" title="Letztes Änderungsdatum">{{has_content}}</td>
</tr>