<tr>
	<td><a {{identifierContext=start;name=detail_link_subject}} href="{{detail_link_subject}}" {{identifierContext=end;name=detail_link_subject}}>{{subject_name}} <span>{{class_name}}</span></a></td>
	<td><a href="{{detail_link_teacher}}" title="{{writeString=team_member.link_to}} {{teacher_name}}">{{teacher_name}}</a></td>
</tr>