<form>
	<label for="class_type">
		{{writeString=class.config.class_kind}}
	</label>
	<select name="class_type" class="ui-widget-content" style="min-width:8em;"></select>
	<label for="display_type">
		{{writeString=class.heading.display_type}}
	</label>
	<select name="display_type" class="ui-widget-content" style="min-width:8em;"></select>
	<label for="include_address">
		{{writeString=class.heading.include_address}}
	</label>
	<input type="checkbox" name="include_address" />
</form>
