<h1>{{title}}</h1>
<div class="class-heading info-box">
	<div class="class-portrait">{{class_portrait}}</div>
	<div class="class-info">
		<div class="main-info">
			<h4>{{writeString=class_detail.heading.teachers}}</h4>
			<p>{{class_teacher}}</p>
		</div>
		<div>{{schedule}}<br />
			{{schedule_extra}}</div>
	</div>
</div>
{{news}}
<div class="documents">
	<h2>{{documents_title}}</h2>
	{{documents}}
</div>
<div class="links">
	<h2>{{links_title}}</h2>
	{{links}}
</div>
