<div>
	<div class="class_portrait">{{portrait}}</div>
	<div class="class_info">
		<div class="count_students_info">{{count_students}} {{writeString=class_detail.students}}</div>
		<div class="class_teacher_info">
			<h4>{{writeString=class_detail.heading.teachers}}</h4>
			{{class_teacher}}
		</div>
		<div>{{schedule}}</div>
		<div>{{schedule_extra}}</div>
	</div>
</div>
<div class="news">
	{{news}}
</div>
<table class="teachers_and_subjects">
	<thead>
		<tr>
			<th colspan="2"><span class="title">{{writeString=class_detail.heading.teachers_and_subjects}}</span></th>
			<th>{{writeString=class_detail.heading.subject_link}}</th>
		</tr>
	</thead>
	<tbody>
		{{teacher_and_subject}}
	</tbody>
</table>
