<h1>{{title}}<h1>
<div class="class-heading info-box">
	<div class="class-portrait">{{class_portrait}}</div>
	<div class="class-info">
		<div class="main_info">
			<h4>{{writeString=class_detail.heading.teachers}}</h4>
			<p>{{class_teacher}}</p>
			<p class="count_students_info">{{count_students}} {{writeString=class_detail.students}}</p>
		</div>
		<div>{{schedule}}<br />
			{{schedule_extra}}</div>
	</div>
</div>
{{news}}
<h2>{{subject_teasers_title}}</h2>
<table class="table-in-detail list">
	<tbody>
		{{subject_teasers}}
	</tbody>
</table>
