<div class="context">{{identifierContext=start;name=recent_report_image}}
	<h3>{{writeString=class_detail.heading.recent_report}}</h3>
	<a href="{{detail_link}}" title="{{detail_link_title}}">
		{{recent_report_image}}
		<span>{{detail_link_title}}</span>
	</a>{{identifierContext=end;name=recent_report_image}}
	<h3>{{writeString=class_detail.heading.upcoming_events}}</h3>
	{{event_items}}
</div>