<h1>{{title}}</h1>
<div class="class-heading info-box">
	<div class="class-portrait">{{class_portrait}}</div>
	<div class="class-info ">
		<div class="main_info">
			<h4>{{writeString=class_detail.heading.teachers}}</h4>
			<p>{{class_teacher}}</p>{{identifierContext=start;name=ancestor_class_link}}
			<h4>{{writeString=class_detail.heading.ancestor_class}}</h4>
			{{ancestor_class_link}}{{identifierContext=end;name=ancestor_class_link}}{{identifierContext=start;name=successor_class_link}}
			<h4>{{writeString=class_detail.heading.successor_class}}</h4>
			{{successor_class_link}}{{identifierContext=end;name=successor_class_link}}
		</div>
		<div>{{schedule}}<br />
			{{schedule_extra}}</div>
	</div>
</div>
{{news}}{{identifierContext=start;name=documents_title}}
<div>
	<h2>{{documents_title}}</h2>
	<table class="documents list">
		<tbody>
			{{documents}}
		</tbody>
	</table>
</div>{{identifierContext=end;name=documents_title}}{{identifierContext=start;name=links_title}}
<div>
	<h2>{{links_title}}</h2>
	<table class="links list">
		<tbody>
			{{links}}
		</tbody>
	</table>
</div>{{identifierContext=end;name=links_title}}
