{{identifierContext=start;name=recent_report_image}}
<h2 class="structure">{{writeString=class_detail.heading.recent_report}}</h2>
<a class="recent_report" href="{{detail_link}}" title="{{detail_link_title}}">
	{{recent_report_image}}
</a>{{identifierContext=end;name=recent_report_image}}
<span>{{detail_link_title}}</span>
<h2>{{writeString=class_detail.heading.upcoming_events}}</h2>
<div class="events">
	{{event_items}}
</div>
