<div data-value="list" class="wett-icon active history" data-url="{{fallback_url}}" title="{{writeString=detail.history_back_button_title}}">list</div>
{{recent_report}}
<h2>{{writeString=class_detail.heading.upcoming_events}}</h2>
{{events_overview}}
