<tr>
	<td><a href="{{link}}" title="{{writeString=wns.document.download}}">{{name}}</a>{{identifierContext=start;name=description}}<br />
	{{description}}{{identifierContext=start;name=description}}
	</td>
</tr>