<div data-wok-filter='classesData/classesData.filtered/{"class-type": ""},"session"'>
	<div class="filters">
		<div data-wok-filter-options='filter//"class-type"' class="popup-links">
			<ul class="available links">
				{{filters}}
			</ul>
		</div>
	</div>
</div>