<div data-wok-filter='classesData/classesData.filtered/{"class-type": ""},"session"'>
	<h1>{{title}}</h1>{{identifierContext=start;name=filters}}
	<div class="filters">
		<div data-wok-filter-options='filter//"class-type", {"open":"onFirstLoad"}' class="popup-links" title="{{writeString=classes.filter.class_type}}">
			<ul class="available links">
				{{filters}}
			</ul>
		</div>
	</div>{{identifierContext=end;name=filters}}
</div>