<div class="list table classes">
	<div class="head">
			<div>{{writeString=class.heading.name}}</div>
			<div>{{writeString=class.heading.class_type}}</div>
			<div>{{writeString=class.heading.children_count}}</div>
			<div>{{writeString=class.heading.teachers}}</div>
		</div>
	{{items}}
</div>
