<tr data-class-type="{{class_type_key}}" data-id="{{id}}">
	<td><a href="{{detail_link}}" title="{{detail_link_title}}">{{name}}</a></td>
	<td>{{class_type}}</td>
	<td>{{class_teacher_links}}</td>
</tr>

