<table class="classes">
	<thead>
		<tr>
			<th>{{writeString=class.heading.name}}</th>
			<th>{{writeString=class.heading.class_type}}</th>
			<th>{{writeString=class.heading.children_count}}</th>
			<th>{{writeString=class.heading.teachers}}</th>
		</tr>
	</thead>
	<tbody>
		{{items}}
	</tbody>
</table>
