{{identifierContext=start;name=class_news}}
<div class="news">
	{{class_news}}
</div>{{identifierContext=end;name=class_news}}
<table class="classes list">
	<thead>
		<tr>
			<th>{{writeString=class.heading.name}}</th>
			<th>{{writeString=class.heading.class_type}}</th>
			<th>{{writeString=class.heading.children_count}}</th>
			<th>{{writeString=class.heading.teachers}}</th>
		</tr>
	</thead>
	<tbody>
		{{items}}
	</tbody>
</table>
