<h2>{{headline}}</h2>
<div class="news">
	{{content}}{{identifierContext=start;name=author_name}}
	<span class="author_info">{{author_name}}, {{date}}</span>{{identifierContext=end;name=author_name}}
</div>