<tr>
	<td><a href="{{detail_link_subject}}">{{subject_name}} <span>{{class_name}}</span></a></td>
	<td><a href="{{detail_link_teacher}}" title="{{writeString=team_member.link_to}} {{teacher_name}}">{{teacher_name}}</a></td>
	<td>{{text}}</td>
	<td>{{events}}</td>
	<td>{{documents}}</td>
	<td>{{links}}</td>
</tr>