<tr>
	<td><a {{identifierContext=start;name=detail_link}} href="{{detail_link}}" {{identifierContext=end;name=detail_link}} title="{{detail_link_title}}">{{name}}</a></td>
	<td>{{class_teacher_links}}</td>
</tr>

