<div data-wok-filter='subjectData/subjectData.filtered/{"categories": ""},"session"'>
	<h1>{{title}}</h1>{{identifierContext=start;name=filters}}
	<div class="filters">
		<div data-wok-filter-options='filter//"categories"' class="popup-links" title="{{writeString=classes.filter.subject_categories}}">
			<ul class="available links">
				<li data-value="">{{writeString=classes.filter.subject_categories.default}}</li>
				{{filters}}
			</ul>
		</div>
	</div>{{identifierContext=end;name=filters}}
</div>