<table class="classes list">
	<thead>
		<tr>
			<th>{{writeString=class.heading.name}}</th>
			<th>{{writeString=class.heading.teachers}}</th>
		</tr>
	</thead>
	<tbody>
		{{items}}
	</tbody>
</table>


