<label for="function_groups[]">
	{{writeString=wns.team_members.function_groups}}
</label>
<select name="function_groups[]" class="ui-widget-content" multiple="multiple"></select>
<label for="display_mode">
	{{writeString=wns.team_members.display_options}}
</label>
<select name="display_mode" class="ui-widget-content"></select>
<ol class="preview ui-editable-items-list"></ol>
