Widget.types['news_list'] = {
	initialize: function() {
		//called before this._element is available
		
	},

	prepare: function() {
		//called when this._element is available
		
	},
	
	settings: {}
};