<table class="subjects list">
	<thead>
		<tr>
			<th>{{writeString=subject.heading.name}}</th>
			<th>{{writeString=subject.heading.classes}}</th>
			<th>{{writeString=subject.heading.teachers}}</th>
		</tr>
	</thead>
	<tbody>
		{{items}}
	</tbody>
</table>
