Widget.types.page_type.types.subjects = {
	handle_admin: function(page_id, container) {
		container.append(jQuery('<p/>').text("{{writeString=wns.subjects_page_type.config_message}}"));
	},
	handle_preview: function() {
		//Do nothing
	}
};