	<body class="{{navigation=top_css}} default">
		<div id="top_left_area">
		</div>
		<div id="main_left_area">
			<a href="http://www.schule-***REMOVED***.ch/de/" title="Zur Webseite von Schulen ***REMOVED***" id="***REMOVED***_logo"><img src="{{writeDirectInclude=***REMOVED***_logo_claim.png;template=location_only}}" alt="Logo ***REMOVED*** Schulen" /></a>
			<ul id="secondary_navigation">
				{{navigation=secondary}}
			</ul>
		</div>
		{{search_form}}
		<div id="main_right_area">
			<div id="top_right_area">
				<ul id="meta_navigation">
					<li><a href="{{writeLink=pages/\{\{page_id\}\};content_language=\{\{writeSessionAttribute=language\}\};manager=AdminManager;position=last}}">Login</a></li>
					<li>{{page_link;name=kontakt}}</li>
					<li>{{page_link;name=impressum}}</li>
				</ul>
			</div>
			<div id="header_main">
				<a id="school_logo" href="{{page_link;name=root;href_only}}"><img src="{{writeDirectInclude=admin/school_logo.png;template=location_only}}" alt="Schulname" /></a>
				<div id="blackboard_area">
				</div>
			</div>
			<div id="content_main"><div id="spacer">
				<ul id="main_navigation" class="outside">
					{{navigation=main}}
				</ul>
				</div>
				<div class="inner">
				{{container=content}}
				{{search_results}}
				</div>
			</div>
			<div id="sidebar_right">
				<div class="inner">
					{{container=context}}
				</div>
			</div>
		</div>
	</body>
</html>