<head>
	<title>{{writeSettingValue=title;section=frontend}} — {{title}}{{detailName}}</title>{{identifierContext=start;name=meta_description}}
	<meta name="description" content="{{meta_description}}" />{{identifierContext=end;name=meta_description}}{{identifierContext=start;name=meta_keywords}}
	<meta name="keywords" content="{{meta_keywords}}" />{{identifierContext=end;name=meta_keywords}}
	{{includeTemplate=resources}}
	{{writeResourceIncludes}}
</head>
