{{addResourceInclude=basic.css;media=screen,projection}}{{addResourceInclude=school.css;media=screen,projection}}{{addResourceInclude=print.css;media=print}}
{{addResourceInclude=ie.css;ie_condition=IE}}{{addResourceInclude=ltie7.css;ie_condition=lt IE 7}}{{addResourceInclude=ltie8.css;ie_condition=lt IE 8}}
{{addResourceInclude=jquery;library=1.6.4}}{{addResourceInclude=jquery.prettyPhoto.min.js}}{{addResourceInclude=application.js}}
{{addResourceInclude=var CONTEXT = '\{\{writeConstantValue\=MAIN_DIR_FE\}\}'\;;inline=js}}{{addResourceInclude=davis;library=0.6.0}}{{addResourceInclude=routing.js}}
{{addResourceInclude=prettyPhoto.css}}
{{addResourceInclude=favicon.ico;rel=shortcut icon}}