AjaxLoader.title_prefix = "{{writeSettingValue=title;section=frontend}} — ";

AjaxLoader.davis.get('{{page_link;name=fachlehrpersonen;href_only}}', AjaxLoader.conf('context', 'content'));
AjaxLoader.davis.get('{{page_link;name=lehrpersonen;href_only}}', AjaxLoader.conf('context', 'content'));
AjaxLoader.davis.get('{{page_link;name=schulverwaltung;href_only}}', AjaxLoader.conf('context', 'content'));
AjaxLoader.davis.get('{{page_link;name=hauswartung;href_only}}', AjaxLoader.conf('context', 'content'));

AjaxLoader.davis.get('{{page_link;identifier=team;href_only}}/:type/:slug', AjaxLoader.conf('context'));
AjaxLoader.davis.get('{{page_link;identifier=team;href_only}}/:slug', AjaxLoader.conf('context'));
AjaxLoader.davis.get('{{page_link;identifier=team;href_only}}', AjaxLoader.conf('context', 'content'));

AjaxLoader.davis.get('{{page_link;identifier=classes;href_only}}/:slug', AjaxLoader.conf('context', 'content'));
AjaxLoader.davis.get('{{page_link;identifier=classes;href_only}}', AjaxLoader.conf('content'));

AjaxLoader.davis.get('{{page_link;identifier=services;href_only}}/:slug', AjaxLoader.conf('context', 'content'));
AjaxLoader.davis.get('{{page_link;identifier=services;href_only}}', AjaxLoader.conf('content'));

AjaxLoader.davis.get('{{page_link;identifier=events;href_only}}/:type/:year/:month/:day/:slug', AjaxLoader.conf('content', 'context'));
AjaxLoader.davis.get('{{page_link;identifier=events;href_only}}/:type/:year/:month/:day', AjaxLoader.conf('content', 'context'));
AjaxLoader.davis.get('{{page_link;identifier=events;href_only}}/:type/:year/:month', AjaxLoader.conf('content', 'context'));
AjaxLoader.davis.get('{{page_link;identifier=events;href_only}}/:type/:year', AjaxLoader.conf('content', 'context'));
AjaxLoader.davis.get('{{page_link;identifier=events;href_only}}/:type', AjaxLoader.conf('content', 'context'));
