<li class="navigation_level_{{level}} {{status}}"><a class="{{status}}" href="{{link}}" title="{{page_title}}">{{title}}</a>            
  {{identifierContext=start;name=children}}<ul class="main_sub_navigation">
    {{children}}
  </ul>{{identifierContext=end;name=children}}
</li>
