<li class="navigation_level_{{level}} {{status}}"><a class="{{status}}" href="{{link}}">{{title}}</a>
  {{identifierContext=start;name=children}}<ul>
    {{children}}
  </ul>{{identifierContext=end;name=children}}
</li>
