/* add print related css modifications of screen.css */

body > * {
  display: none;
  display: block;
}

#content_main {
  display: block;
  font-size: 10pt !important;
  line-height: auto !important;
}

