<p>{{writeParameterizedString=main_search_result;search_string=\{\{search_string\}\};count=\{\{count\}\};position=last}}</p>
<table>
  <thead>
  <tr><th>{{writeString=wns.page}}</th><th>{{writeString=wns.search_hits}}</th></tr>
  </thead>
  <tbody>
    {{result}}
  </tbody>
  <tfoot>
  </tfoot>
</table>

{{no_results}}