background_color = #E6E4CC;
background_dark_color = #D3D1B8;
school_color = #5e61a8;
sidebar_right_color = #D3D1B8;
sidebar_right_line_color = #C9C5B3

top_area_height = 50px;
header_main_height = 120px;

header_top_left_width = 376px;
sidebar_left_width = 188px;
sidebar_right_width = 194px;

// make sure the text is wrapped
sidebar_right_link_width = 150px

slide_frame = 165px

logo_height = top_area_height;
total_width_min = 960px;
total_width_max = 1060px;
main_right_width_min = (total_width_min - sidebar_left_width);
main_right_width_max = (total_width_max - sidebar_left_width);
