<h2 style="margin-bottom:0;">Infos</h2>{{identifierContext=start;name=time_detail}}
<p>{{writeString=wns.event.location_info}} {{time_detail}}</p>{{identifierContext=end;name=time_detail}}{{identifierContext=start;name=time_detail}}
<p>{{writeString=wns.event.time_detail}} {{time_detail}}</p>{{identifierContext=end;name=time_detail}}
