<h1>{{title}}</h1>
<div class="date">{{date_info}}{{identifierContext=start;name=time_details}}<span>, {{time_details}}</span>{{identifierContext=end;name=time_details}}</div>
{{body}}{{identifierContext=start;name=location_infos}}
<div>{{location_infos}}</div>{{identifierContext=end;name=location_infos}}
{{gallery}}
{{event_navigation}}