<h1>{{title}}</h1>
<div class="date">{{date}}{{identifierContext=start;nam=time_details}}
<span>, {{time_details}}</span>{{identifierContext=end;nam=time_details}}</div>
{{body}}{{identifierContext=start;nam=location_infos}}
<div>{{location_infos}}</div>{{identifierContext=end;nam=location_infos}}
{{gallery}}
{{event_navigation}}