<h1>{{title}}</h1>
<div class="date">{{date_info}}</div>
{{body}}{{identifierContext=start;name=service_link}}
{{service_link}}{{identifierContext=end;name=service_link}}
{{gallery}}
{{event_navigation}}