<table class="event_list list_view with_header">
	<thead>
		<tr>
			<th>Datum</th>
			<th>Titel</th>
			<th> </th>
			<th class="align_right">{{archive_aktuell_link}}</th>
		</tr>
	</thead>
	<tfoot></tfoot>
	<tbody>
  {{list_item}}
	</tbody>
</table>
<div class="report_and_images_teaser">{{identifierContext=start;name=report_and_images_teaser_message}}{{report_and_images_teaser_message}}<br />{{identifierContext=end;name=report_and_images_teaser_message}}
Anlässe mit Bilder sind mit dem Symbol <span class="status_icons has_images" style="display:inline-block;"> </span> und solche mit einem Bericht mit dem Symbol <span class="status_icons has_bericht" style="display:inline-block;"> </span> gekennzeichnet</div>