<table class="event_list list_view">
	<thead>
		<tr>
			<th>Datum</th>
			<th>Titel</th>
			<th class="align_right">{{archive_aktuell_link}}</th>
		</tr>
	</thead>
	<tfoot></tfoot>
	<tbody>
  {{list_item}}
	</tbody>
</table>