<tr class="row {{oddeven}}">
	<td class="datum"><a href="{{detail_link}}" title="{{detail_link_title}}">{{date_from_to}}</a></td>
	<td class="highlight">
		<a href="{{detail_link}}" title="{{detail_link_title}}">{{detail_link_text}}</a>
		<p>{{teaser}}</p>
	</td>
	<td class="align_right"><a href="{{detail_link}}">mehr</a></td>
</tr>