<tr class="row">
	<td class="datum"><a href="{{detail_link}}" title="{{detail_link_title}}">{{date_from_to}}</a></td>
	<td class="event_title">
		<a href="{{detail_link}}" title="{{detail_link_title}}">{{detail_link_text}}</a>
		<p>{{teaser}}<a class="more_link" href="{{detail_link}}" title="{{writeString=link_text.read_more}}"> </a></p>
	</td>
	<td class="status_icons{{has_bericht_class}}"{{has_bericht_title}}></td>
	<td class="status_icons{{has_images_class}}"{{has_images_title}}></td>
</tr>