{{identifierContext=start;name=heading_reports}}<h3>{{heading_reports}}</h3>{{identifierContext=end;name=heading_reports}}
<table class="event_list list_view with_header">
	<thead>
		<tr>
			<th>Datum</th>
			<th>Titel</th>
			<th>Bericht</th>
			<th>Bilder</th>
		</tr>
	</thead>
	<tfoot></tfoot>
	<tbody>
  {{list_item}}
	</tbody>
</table>
