<tr class="row {{oddeven}}">
	<td class="datum"><a href="{{detail_link}}" title="{{detail_link_title}}">{{date_from_to}}</a></td>
	<td class="event_title">
		<a href="{{detail_link}}" title="{{detail_link_title}}">{{detail_link_text}}</a>
		<p>{{truncate=\{\{teaser\}\};length=60;}} <a class="more_link" href="{{detail_link}}" title="{{detail_link_title}}"> </a></p>
	</td>
</tr>