<div class="event{{class_today}}">
	{{date_item}}
	<div class="introduction">
		<h4>{{identifierContext=start;name=today}}<span class="highlight">{{today}}</span>{{identifierContext=end;name=today}}{{title}}</h4>
		<p><a class="text-link" title="Detail Veranstaltung" href="{{detail_link}}"><span>{{description}}</span><span class="read-more">{{writeString=link_text.read_more}}</span></a></p>
	</div>
</div>