<div class="event{{class_today}}">
	{{date_item}}
	<div class="introduction">
		<h4><a href="{{detail_link}}" title="Detail Veranstaltung">{{identifierContext=start;name=today}}<span class="highlight">{{today}}</span>{{identifierContext=end;name=today}}{{title}}</a></h4>
		<p>{{description}}</p>
	</div>
</div>