<div class="event{{class_today}}">
	{{date_item}}
	<a href="{{detail_link}}" title="Detail Veranstaltung">
		<div class="introduction">
			<h4>{{identifierContext=start;name=today}}<span class="highlight">{{today}}</span>{{identifierContext=end;name=today}}{{title}}</h4>
			<p>{{description}}</p>
		</div>
	</a>
</div>