<h2>{{writeString=wns.events.recently}}</h2>
{{image}}
<p>{{event_report_prefix}} <a href="{{detail_link}}" title="{{detail_link_title}}">{{event_title}}</a><a class="more_link" href="{{detail_link}}" title="{{detail_link_title}}"> </a>

</p>

