<h2>{{writeString=wns.events.recently}}</h2>
{{image}}
<p><a href="{{detail_link}}" title="{{detail_link_title}}">{{event_title}} vom {{date_start}} {{event_report_prefix}}</a><a class="more_link" href="{{detail_link}}" title="{{detail_link_title}}"> </a>
</p>

