<div class="recent-report">
	{{identifierContext=start;name=title}}<h2 class="structure">{{title}}</h2>{{identifierContext=end;name=title}}
	<a class="image-link" href="{{detail_link}}" title="{{detail_link_title}}">
		{{recent_report_image}}
	</a>
	<a class="legend" href="{{detail_link}}"><span>{{writeString=event.heading.recent_report}}</span>: {{detail_link_title}}</a>
</div>
