<h2 class="structure">{{writeString=class_detail.heading.recent_report}}</h2>
<div class="recent_report">
	<a  href="{{detail_link}}" title="{{detail_link_title}}">
		{{recent_report_image}}
	</a>
	<span>{{detail_link_title}}</span>
</div>
