<div>
	<a href="{{detail_link}}" title="{{writeString=link_text.read_more}}">{{image}}</a>
	Kürzlich: <a class="more_link" href="{{detail_link}}" title="{{writeString=link_text.read_more}}"> {{title}}</a>
</div>