<h2>{{title}}</h2>
<p><span class="date">{{date}}</span>{{class_link}}<br />
{{teaser}} <a class="more_link" href="{{detail_link}}" title="{{detail_link_title}}">{{writeString=link_text.read_more}}</a></p>