Widget.types.blackboard_frontend_config = { 
	prepare: function() {
		var _this = this;
		this.content = jQuery.parseHTML("{{includeTemplate=edit}}");
		this._element.append(this.content);
		
		// display_mode
		this.mode_dropdown = this.content.find("select[name='display_mode']");
		this.mode_dropdown.populate(this.getDisplayModes(), this.getDisplayMode());
	},
	
	save: function() {
		return this._element.serializeArrayKV();
	},
	
	additional_buttons: [
		{
			text: '{{writeString=events.do_admin}}',
			icon: 'wrench',
			action: jQuery.openLink.bind(window, "{{writeLink=events;manager=AdminManager}}")
		}
	]
};



