<div class="group_fields">
	<label for="display_mode">{{writeString=wns.news.display_option}}</label>
	<select name="display_mode" class="ui-widget-content">
		{{display_options}}
	</select>
</div>
<div class="group_fields">
	<label for="note_type_id">{{writeString=wns.note.type}}</label>
	<select name="note_type_id" class="ui-widget-content autowidth">
		{{type_options}}
	</select>
</div>
<div class="group_fields">
	<label for="limit">{{writeString=wns.note.limit_option}}</label>
	<select name="limit" class="ui-widget-content autowidth">
		{{limit_options}}
	</select>
</div>

