Widget.types.event_types_input = {
	prepare: function() {
		this.reload();
		Widget.handle('rapila-event_type_changed', this.reload.bind(this));
	},

	reload: function() {
		var current = this._element.val();
		this._element.empty();
		this.allEventTypes(function(event_types) {
			this._element.populate({'': "{{writeString=wns.choose}}"});
			this._element.populate(event_types);
			if(current) {
				this.val(current);
			} else {
				this.val(this.settings.initial_selection || '');
			}
		});
	},

	val: function(value) {
		if(arguments.length) {
			if(value == '__all') {
				value = '';
			}
			this._element.val(value);
			this.settings.initial_selection = value;
			return;
		}
		return this._element.val();
	},

	settings: {
		initial_selection: null
	}
};