Widget.types['news_detail'] = {
	initialize: function() {
		var _this = this;

		//called before this._element is available
		this._element = Widget.parseHTML("{{includeTemplate=edit}}");
		this.news_body = this._element.find('div.news_body');
		
		this._element.find('div.hide_if_not_saved').hide();

		Widget.callStatic('detail', 'create_for_instance', this);

		this._element.find("select[name='news_type_id']").prepareWidget(function(widget) {
			widget.settings.initial_selection = _this.settings.initial_type_id;
			widget.settings.disabled = !!_this.settings.predefined_news_type_id;
		}, function(widget) {
			if(_this.settings.predefined_news_type_id) {
				widget.val(_this.settings.predefined_news_type_id);
			}
		});

		this._element.find("select[name='school_class_id']").prepareWidget(function(widget) {
			widget.val(_this.settings.predefined_school_class_id);
			widget.settings.disabled = !!_this.settings.predefined_school_class_id;
		}, function(widget) {
			if(_this.settings.predefined_school_class_id) {
				widget._element.val(_this.settings.predefined_school_class_id);
				_this._element.find('.service_select_items').hide();
			}
		});
		
		// Handlers
		this.handle('opened', function() { 
			this.init_textarea();
		});
		this.handle('saving', function(event, data) {
			data.body = _this.news_body_editor.get_data();
		}.bind(_this));
		this.handle('saved', function(event, id) {
			this.setNewsId(id);
			this.current_detail_id = id;
		});

	},

	fill_data: function() {
		this.detail_widget.disable();
		this.init_textarea();
		this.loadData(function(data) {
			this.current_detail_id = data.Id;
			this._element.find('input[name="id"]').val(data.Id);
			this._element.find('input[name="news_type_id"]').val(data.NewsTypeId);
			this._element.find('input[name="headline"]').val(data.Headline);
			this._element.find('textarea[name="body"]').text(data.Body);
			this._element.find('input[name="body_short"]').val(data.BodyShort);
			this._element.find('input[name="date_start"]').val(data.DateStart);
			this._element.find('input[name="date_end"]').val(data.DateEnd);
			this._element.find('input[name="is_inactive"]').val(data.IsInactive);
			this._element.find('input[name="school_class_id"]').val(data.SchoolClassId);
			this._element.find('span.created_info').text(data.CreatedInfo);
			this._element.find('span.updated_info').text(data.UpdatedInfo);
			this._element.find('span.detail_id').text(data.Id);
			this._element.find('div.hide_if_not_saved').show();
			this.detail_widget.enable();
		});
	},

	init_textarea: function() {
		var _this = this;
		if(!this.news_body.didPrepareWidget()) {
			this.news_body.attr('data-widget-session', this.settings.richtext_session).prepareWidget(function(rich_text_widget) {
				_this.news_body_editor = rich_text_widget;
				jQuery.extend(rich_text_widget.settings, _this.settings.richtext_settings);
			}, jQuery.noop);
		}
	},

	settings: {
		"detail_widget":{
			title: "{{writeString=wns.news.create}}",
			width: 700
		}
	}
};