Widget.types['news_detail'] = {
	initialize: function() {
		var _this = this;

		//called before this._element is available
		this._element = Widget.parseHTML("{{includeTemplate=edit}}");
		this.news_body = this._element.find('div.news_body');

		// Format date field
		this._element.find("input[name^='date_']").datepicker({
			dateFormat: 'dd.mm.yy'
		});

		this._element.find('div.hide_if_not_saved').hide();

		Widget.callStatic('detail', 'create_for_instance', this);

		if(!this.news_type_is_predefined()) {
			this.news_type_dropdown = this._element.find("select[name='news_type_id']");
			this.news_type_dropdown.prepareWidget(function(widget) {
				widget.settings.initial_selection = _this.settings.initial_type_id || '';
			}, jQuery.noop);
		} else {
			this._element.find('div.news_type_elements').hide();
		}

		// Handlers
		this.handle('opened', function() {
			this.init_textarea();
		});
		this.handle('saving', function(event, data) {
			data.body = _this.news_body_editor.get_data();
			if(this.news_type_is_predefined()) {
				data.news_type_id = _this.settings.predefined_news_type_id;
			}
		}.bind(_this));
		this.handle('saved', function(event, id) {
			this.setNewsId(id);
			this.current_detail_id = id;
		});
	},

	news_type_is_predefined: function() {
		return this.settings.predefined_news_type_id !== null;
	},

	fill_data: function() {
		this.detail_widget.disable();
		this.init_textarea();
		this.loadData(function(data) {
			this.current_detail_id = data.Id;
			this._element.find('input[name="id"]').val(data.Id);
			this.current_news_type_id = data.NewsTypeId;
			if(!this.news_type_is_predefined()) {
				this.news_type_dropdown.ensureWidget(function(widget) {
					widget.val(data.NewsTypeId);
				});
			} else {
				this._element.find('div.news_type_elements').hide();
			}
			this._element.find('input[name="headline"]').val(data.Headline);
			this.news_body.ensureWidget(function(widget) {
				widget.set_data(data.Body);
			});
			this._element.find('input[name="date_start"]').val(data.DateStart);
			this._element.find('input[name="date_end"]').val(data.DateEnd);
			this._element.find('input[name="is_active"]').prop(data.IsActive);
			this._element.find('span.created_info').text(data.CreatedInfo);
			this._element.find('span.updated_info').text(data.UpdatedInfo);
			this._element.find('span.detail_id').text(data.Id);
			this._element.find('div.hide_if_not_saved').show();
			this.detail_widget.enable();
		});
	},

	init_textarea: function() {
		var _this = this;
		if(!this.news_body.didPrepareWidget()) {
			this.news_body.attr('data-widget-session', this.settings.richtext_session).prepareWidget(function(rich_text_widget) {
				_this.news_body_editor = rich_text_widget;
				jQuery.extend(rich_text_widget.settings, _this.settings.richtext_settings);
			}, jQuery.noop);
		}
	},

	settings: {
		detail_widget: {
			title: "{{writeString=wns.news.create}}",
			width: 890
		},
		predefined_news_type_id: null
	}
};
