jQuery(document).ready(function() {
	jQuery('table.team_member_list').each(function() {
		jQuery(this).prepareWidget(function(widget) {
			Widget.callStatic('detail', 'connect_detail_with_list', 'team_member', widget, 'setTeamMemberId');
			widget.handle('list-cell_click', function(event, rowIndex, col, row, cell) {
			});
			AdminInterface.strings.handle_strings_for_list_result('wns.team_member_list.no_result', ['function_group_name'], widget);
		});
	});
});