<div class="group_fields">
	<label for="display_mode">{{writeString=wns.services.display_option}}</label>
	<select name="display_mode" class="ui-widget-content"></select>
</div><br style="clear:left;" />
<ol class="ui-editable-items-list">
</ol>
