<form>
	<label for="function_group_ids[]">
		{{writeString=wns.team_members.function_groups}}
	</label>
	<select name="function_group_ids[]" class="ui-widget-content autowidth" style="min-width:8em;" multiple="multiple"></select>
</form>
