<div class="wett-icon history back-link" data-url="{{fallback_url}}" title="{{writeString=detail.history_back_button_title}}">back</div>
<h1>{{title}}</h1>
{{identifierContext=start;name=email}}
<p>E-Mail: {{email}}</p>{{identifierContext=end;name=email}}{{identifierContext=start;name=profession}}
<p>Beruf: {{profession}}</p>{{identifierContext=end;name=profession}}{{identifierContext=start;name=functions}}
<p>{{functions}}
</p>{{identifierContext=end;name=functions}}{{identifierContext=start;name=klassenlehrer_info}}
	<h4>{{class_teacher}}</h4>
	<table class="team_member classes list">
		<tbody>
	{{klassenlehrer_info}}
		</tbody>
	</table>{{identifierContext=end;name=klassenlehrer_info}}{{identifierContext=start;name=portrait_display_url}}
<div class="signature">
	<figure>
		<img src="{{portrait_display_url}}" alt="{{portrait_alt}}" />
	</figure>
</div>
{{identifierContext=end;name=portrait_display_url}}
