<div data-wok-filter='teamMemberData/teamMemberData.filtered/{"function-group": ""},"session"'>
	<h1>{{title}}</h1>
	{{identifierContext=start;name=filters}}<div class="filters">
		<div data-wok-filter-options='filter//"function-group", {"open":"onFirstLoad"}' class="popup-links" title="{{writeString=team_member.filter.function-group}}">
			<ul class="available links">
				{{filters}}
			</ul>
		</div>
	</div>{{identifierContext=end;name=filters}}
</div>