{{identifierContext=start;name=filters}}<div data-wok-filter='teamMemberData/teamMemberData.filtered/{"function-group": ""},"session"'>
	<div class="filters">
		<div data-wok-filter-options='filter//"function-group"' class="popup-links" title="{{writeString=team_member.filter.function-group}}">
			<ul class="available links">
				{{filters}}
			</ul>
		</div>
	</div>
</div>{{identifierContext=end;name=filters}}