{{includeTemplate=filter}}
<table class="team_members list">
	<thead>
		<tr>
			<th>{{writeString=team_member.heading.name}}</th>
			<th>{{writeString=team_member.heading.email}}</th>
			<th>{{writeString=team_member.heading.function}}</th>
			<th>{{writeString=team_member.heading.class}}</th>
		</tr>
	</thead>
	<tbody data-wok-htmlSource="/teamMemberData" data-wok-htmlFiltered="teamMemberData.filtered">
		{{items}}
	</tbody>
</table>
