<tr data-function-group="{{function_group_key}}" data-id="{{id}}">
	<td><a href="{{detail_link}}" title="{{detail_link_title}}">{{name}}</a></td>
	<td>{{email}}</td>
	<td>{{function_groups}} {{first_function_name}}</td>
	<td>{{school_class}}</td>
</tr>