{{identifierContext=start;name=team_member_news}}
<div class="news">
	{{team_member_news}}
</div>{{identifierContext=end;name=team_member_news}}
<table class="team_members list">
	<thead>
		<tr>
			<th>{{writeString=team_member.heading.name}}</th>
			<th>{{writeString=team_member.heading.email}}</th>
			<th>{{writeString=team_member.heading.function}}</th>
			<th>{{writeString=team_member.heading.class}}</th>
		</tr>
	</thead>
	<tbody>
		{{items}}
	</tbody>
</table>
