<div class="detail_info">
  <h1>{{name}}</h1>{{identifierContext=start;name=team_member}}
	<label>{{label_mitarbeiter}}</label>
	{{team_member}}{{identifierContext=end;name=team_member}}{{identifierContext=start;name=address}}
	<label>{{writeString=services.address}}</label>
	<span>{{address}}</span>{{identifierContext=end;name=address}}{{identifierContext=start;name=opening_hours}}
	<label>{{writeString=services.opening_hours}}</label>
	<span>{{opening_hours}}</span>{{identifierContext=end;name=opening_hours}}{{identifierContext=start;name=phone}}
	<label>{{writeString=services.telephone}}</label>
	<span>{{phone}}</span>{{identifierContext=end;name=phone}}{{identifierContext=start;name=email}}
	<label>{{writeString=services.email}}</label>
	<span>{{email}}</span>{{identifierContext=end;name=email}}{{identifierContext=start;name=website}}
	<label>{{writeString=services.website}}</label>
	<span>{{website}}</span>{{identifierContext=end;name=website}}{{identifierContext=start;name=service_document}}
	<label>{{writeString=services.documents}}</label>
	<span class="service_documents">{{service_document}}</span>{{identifierContext=end;name=service_document}}
</div>