<div class="class_info">
  <h1>{{name}}</h1>{{identifierContext=start;name=team_member}}
	<label>{{label_mitarbeiter}}</label>
	{{team_member}}{{identifierContext=end;name=team_member}}{{identifierContext=start;name=address}}
	<label>Addresse</label>
	<span>{{address}}</span>{{identifierContext=end;name=address}}{{identifierContext=start;name=opening_hours}}
	<label>Öffnungszeiten</label>
	<span>{{opening_hours}}</span>{{identifierContext=end;name=opening_hours}}{{identifierContext=start;name=phone}}
	<label>Telefon</label>
	<span>{{phone}}</span>{{identifierContext=end;name=phone}}{{identifierContext=start;name=email}}
	<label>E-Mail</label>
	<span>{{email}}</span>{{identifierContext=end;name=email}}{{identifierContext=start;name=website}}
	<label>Webseite</label>
	<span>{{website}}</span>{{identifierContext=end;name=website}}{{identifierContext=start;name=service_document}}
	<label>Dokumente</label>
	<span>{{service_document}}</span>{{identifierContext=end;name=service_document}}
</div>