<tr class="row {{oddeven}}">
	<td class="highlight"><a href="{{detail_link}}" title="{{detail_link_title}}">{{detail_link_text}}</a></td>
	<td>{{phone}}</td>
	<td>{{identifierContext=start;name=website}}<a href="{{website}}">{{website}}</a>{{identifierContext=end;name=website}}</td>
</tr>