<tr class="row {{oddeven}}">
	<td><a  class="title_nobreak" href="{{detail_link}}" title="{{detail_link_title}}">{{detail_link_text}}</a></td>
	<td>{{truncate=\{\{teaser\}\};length=120}} <a href="{{detail_link}}">{{writeString=text.read_more}}</a></td>
</tr>