<tr class="row">
	<td><a href="{{detail_link}}" title="{{detail_link_title}}">{{detail_link_text}}</a></td>
	<td><a href="{{detail_link}}" title="{{detail_link_title}}">{{teaser}}</a> <a class="more_link" href="{{detail_link}}" title="{{writeString=text.read_more}}"> </a></td>
</tr>