jQuery(document).ready(function() {
	jQuery('table.service_list').each(function() {
		jQuery(this).prepareWidget(function(widget) {
			Widget.callStatic('detail', 'connect_detail_with_list', 'service', widget, 'setServiceId');
			widget.handle('list-cell_click', function(event, rowIndex, col, row, cell) {
				if(col.identifier === 'delete') {
					var name = widget.cell_for_identifier('name', row).text();
					var delete_message = AdminInterface.strings.get_string('wns.service.delete_warning', { name: name});
					Widget.confirm("{{writeString=wns.delete_warning_title}}", delete_message, function(confirmed) {
						if(confirmed) {
							this.delete_row(row);
						}
					}.bind(this));
					event.stopPropagation();
				}
				if(col.identifier === 'is_active') {
					this.toggle_boolean(row, col.identifier);
					event.stopPropagation();
				}
			});
			AdminInterface.strings.handle_strings_for_list_result('wns.services.no_result', ['service_category_name'], widget);
		});
	});
});