<h1>{{title}}</h1>
<div class="date">{{date_info}}{{identifierContext=start;name=time_details}}, {{time_details}}{{identifierContext=end;name=time_details}}{{identifierContext=start;name=location_info}}   (Ort: {{location_info}}){{identifierContext=end;name=location_info}}</div>
{{body}}
<a class="back_to_list_link" href="{{back_to_list_link}}">{{link_text}}</a>
{{gallery}}
