<div class="wett-icon history back-link" data-url="{{fallback_url}}" title="{{writeString=detail.history_back_button_title}}">back</div>
<h1>{{title}}</h1>
<div class="meta-info">{{identifierContext=start;name=today}}<span class="highlight">{{today}}</span>{{identifierContext=end;name=today}}{{date_info}}{{identifierContext=start;name=time_details}}, {{time_details}}{{identifierContext=end;name=time_details}}{{identifierContext=start;name=location_info}}, Ort: {{location_info}}{{identifierContext=end;name=location_info}}{{identifierContext=start;name=class_link}} ({{class_link}}){{identifierContext=end;name=class_link}}</div>
{{body}}
{{gallery}}

