<div class="auxiliary-element">
	<div class="share-options popup-links">
		<div class="link-label wett-icon">share</div>
		<ul class="available links">
			<li><a href="{{subscribe_ical}}">{{writeString=appointments.subscribe.ical}}</a></li>
			<li><a href="{{download_ical}}">{{writeString=appointments.download.ical}}</a></li>
			<li><a href="{{subscribe_rss}}">{{writeString=appointments.subscribe.rss}}</a></li>
		</ul>
	</div>
</div>