<div data-wok-filter='eventData/eventData.filtered/{"year": {{writeDate=Y}}, "month": {{doCalculation=\{\{writeDate\=n\;locale=_\}\} - 1}}, "view": "list", "granularity": "month", "kind": "", "type": ""},"session"'>
	<span data-wok-filter-class-from-event='filter//"{{class_id}}"'></span>
	<h1 data-wok-filter-title='filter//"title"'></h1>
	<div class="filters">
		<div data-wok-filter-options='filter//"kind"' class="popup-links" title="{{writeString=event.filter.date_types}}">
			<ul class="available links">
				<li data-value="">{{writeString=appointments.kind.all}}</li>
				<li data-value="event">{{writeString=appointments.kind.events}}</li>
				<li data-value="date">{{writeString=appointments.kind.dates}}</li>
			</ul>
		</div><!--
		--><div data-wok-filter-datePager='filter//"date_start","date_end", null, "granularity", ["{{writeDate=B;date=1-1;format=n-j}}", "{{writeDate=B;date=2-1;format=n-j}}", "{{writeDate=B;date=3-1;format=n-j}}", "{{writeDate=B;date=4-1;format=n-j}}", "{{writeDate=B;date=5-1;format=n-j}}", "{{writeDate=B;date=6-1;format=n-j}}", "{{writeDate=B;date=7-1;format=n-j}}", "{{writeDate=B;date=8-1;format=n-j}}", "{{writeDate=B;date=9-1;format=n-j}}", "{{writeDate=B;date=10-1;format=n-j}}", "{{writeDate=B;date=11-1;format=n-j}}", "{{writeDate=B;date=12-1;format=n-j}}"]'>
			<span class="prev wett-icon" title="{{writeString=event.filter.previous_year}}">&lt;</span><!--
			--><span class="current"></span><!--
			--><span class="next wett-icon" title="{{writeString=event.filter.next_year}}">&gt;</span>
		</div><!--
		--><div data-wok-filter-toggle='filter//"granularity"'>
			<div data-value="month" title="{{writeString=event.filter.view_month}}">{{writeString=month}}</div><!--
			--><div data-value="year" title="{{writeString=event.filter.view_year}}">{{writeString=year}}</div>
		</div><!--
		--><div data-wok-filter-toggle='filter//"view"'>
			<div data-value="calendar" class="wett-icon" title="{{writeString=event.filter.calendar_view}}">grid</div><!--
			--><div data-value="list" class="wett-icon" title="{{writeString=event.filter.list_view}}">list</div>
		</div>
	</div>
</div>
