<div class="group_fields">
	<label for="display_mode">{{writeString=wns.services.display_option}}</label>
	<select name="display_mode" class="ui-widget-content"></select>
</div>
<div class="group_fields show_for_detail">
	<label for="service_id">{{writeString=wns.services.detail}}</label>
	<select name="service_id" class="ui-widget-content autowidth"></select>
</div>
<br style="clear:left;" />
<ol class="ui-editable-items-list">
</ol>