<div class="group_fields">
	<label for="display_mode">{{writeString=wns.notes.display_option}}</label>
	<select name="display_mode" class="ui-widget-content autowidth"></select>
</div>
<div class="group_fields">
	<label for="note_type">{{writeString=wns.notes.type}}</label>
	<select name="note_type[]" class="ui-widget-content autowidth" multiple="multiple"></select>
</div>
<div class="group_fields list_option_only limit_options">
	<label for="limit">{{writeString=wns.notes.limit}}</label>
	<select name="limit" class="ui-widget-content autowidth"></select>
</div><br style="clear:left;" />
<ol class="ui-editable-items-list">
</ol>