jQuery(document).ready(function() {
	// init main content
	AdminInterface.content.find('table.team_member_list').prepareWidget(function(team_member_list) {
		
		var sidebar;
		AdminInterface.sidebar.find('.ui-list').prepareWidget(function(widget) {
			sidebar = widget;
			sidebar.settings.row_click_active_mode = 'activate';
			var initial_selection = "{{writeRequestValue=function_group_id}}";
			if(initial_selection) {
				initial_selection = isNaN(initial_selection) ? initial_selection : parseInt(initial_selection, 10);
				sidebar.handle('loaded', function() {
					sidebar.activate_row(sidebar.row_from_row_data({function_group_id: initial_selection}));
				}, true, true);
			}
			
			sidebar.handle('list.row-click', function(event, row, element) {
				var function_group_id = element.data('function_group_id');
				if(!element.is('.ui-state-active')) {
				 	function_group_id = null;
				}
				team_member_list.setOption('function_group_id', function_group_id);
				team_member_list.reload();
			});
		});
		
		// init infobar
		AdminInterface.info_bar.prepareWidget(function(info_bar) {
			info_bar.add_search_input("{{writeString=wns.search.enter_search}}", function(search) {
				if(team_member_list.setSearch(search)) {
					team_member_list.reload();
				}
			});;
	
			// add row_count_info
			info_bar.add_row_count_info_for_list(team_member_list);
		});
	});
});